<div class="container">
  <section class="page-header">
    <h1>Create a Team</h1>
  </section>
  <section>
    <div class="row">
      <div class="col-md-8">
        <form accept-charset="UTF-8" action="/teams/new" method="POST" class="form-horizontal">
          <% team.errors.full_messages.each do |error| %>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <%= error %>
              </div>
            </div>
          <% end %>
          <div class="form-group">
            <label class="control-label col-sm-3" for="team_public">Public</label>
            <div class="col-sm-9">
              <input type="checkbox" id="team_public" name="team[public]" value="1" <%= 'checked' if team.public %>/>
              <span><em>(should people be able to find your team?)</em></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="team_slug">Slug</label>
            <div class="col-sm-9">
              <input type="text" name="team[slug]" id="team_slug" placeholder="e.g.,  gocowboys" value="<%= team.slug %>" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="team_name">Name (optional; defaults to slug)</label>
            <div class="col-sm-9">
              <input type="text" name="team[name]" id="team_name" placeholder="e.g.,  Go Cowboys" value="<%= team.name %>" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="team_usernames">Usernames (comma-separated list)</label>
            <div class="col-sm-9">
              <textarea rows="5" class="form-control" name="team[usernames]" id="team_usernames" placeholder="e.g.,  kytrinyx, seeflanigan, rubysolo, theotherzach"><%= team.usernames.join(", ") %></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="team_description">Description</label>
            <div class="col-sm-9">
              <textarea rows="5" class="form-control" name="team[description]" id="team_description" placeholder="e.g., People interested in learning new programming languages"><%= team.description %></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="team_tags">Tags (your team slug and name will be considered tags) </label>
            <div class="col-sm-9">
              <textarea rows="5" class="form-control" name="team[tags]" id="team_tags" placeholder="Comma separated values, e.g., ruby, exercism, learning"><%= team.all_tags %></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
