<ul class="nit-links pull-right nav nav-pills">
  <li class="<%= 'active' if current_page == 'given' %>"><a href="/nits/<%= user.username %>/given">Nits Given</a></li>
  <li class="<%= 'active' if current_page == 'received' %>"><a href="/nits/<%= user.username %>/received">Nits Received</a></li>
  <li class="<%= 'active' if current_page == 'stats' %>"><a href="/nits/<%= user.username %>/stats">Nit Stats</a></li>
</ul>
