<tr>
  <td>
    <div class="avatar">
      <%= gravatar_tag user.avatar_url, size: 30 %>
    </div>
    <%= profile_link user %>
  </td>

  <td>
    <a href="/submissions/<%= nitpick.submission.key %>"><%= nitpick.submission.problem.language %> / <%= nitpick.submission.problem.name %></a>
  </td>

  <td>
    <%= nitpick.html_body %>
  </td>

  <td>
    <%= ago(nitpick.created_at) %>
  </td>
</tr>
