<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <% if !current_user.guest? %>
    <li><a href="/dashboard">Dashboard</a></li>
    <% end %>
    <li><a href="http://help.exercism.io">Help</a></li>
    <% unless current_user.onboarded? %>
      <li><a href="/getting-started">Welcome new users</a></li>
    <% end %>
    <li class="dropdown">
      <a class="dropdown-toggle" id="drop-current" href="#" data-toggle="dropdown">Languages<b class="caret"></b></a>
    <ul class="dropdown-menu" id="menu-current" role="menu" area-labelledby="drop-current">
      <% tracks.each do |t| %>
        <% if t.active? %>
          <li>
            <a role="menuitem" tabindex="-1" href="/languages/<%= t.slug %>">
              <%= t.language %>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <% if !current_user.guest? %>
      <% if current_user.sees_exercises? %>
        <li><a href="/inbox">Exercises</a></li>
      <% end %>
      <%= erb :"application/nav/notifications" %>
      <%= erb :"application/nav/teams" %>
      <%= erb :"application/nav/account" %>
    <% else %>
      <li><a href="/login">Log in with GitHub</a></li>
    <% end %>
    <% if settings.development? %>
      <%= erb :"application/nav/backdoor" %>
    <% end %>
  </ul>
</div>
