<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">

   <li class="dropdown">
     <a class="dropdown-toggle" id="drop-account" href="#" data-toggle="dropdown">
        Help
        <b class="caret"></b>
      </a>

     <ul class="dropdown-menu" role="menu">
        <li>
          <a role="menuitem" tabindex="-1" href="/installing-cli">Install CLI</a>
          <a role="menuitem" tabindex="-1" href="/create-assignment">Create Assignment</a>
          <a role="menuitem" tabindex="-1" href="/submit-assignment">Submit Assignment</a>
        </li>
     </ul>
   </li>

    <li><a href="/getting-started">Welcome Imagineaites</a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <% if !current_user.guest? %>
      <%= erb :"application/nav/nitpicker_languages" %>
      <%= erb :"application/nav/teams" %>
      <%= erb :"application/nav/notifications" %>
      <%= erb :"application/nav/account" %>
    <% else %>
      <li><a href="/login">Log in with GitHub</a></li>
    <% end %>
    <% if settings.development? %>
      <%= erb :"application/nav/backdoor" %>
    <% end %>
  </ul>
</div>
