<div class="container">
  <section class="page-header">
    <h1>
      <%= submission.problem.language %>:
      <%= submission.problem.name %>
    </h1>
  </section>
  <div class="row">
    <div class="code col-md-12">
      <p class="well">
      <% if total == 1 %>
      You are seeing the only available implementation of the exercise.
    <% else %>
      Take a look at one of the <a href="/code/<%= submission.track_id %>/<%= submission.slug %>/random"><%= total %> available implementations</a> of the exercise.
    <% end %>
    This is how <%= profile_link(submission.user, "@#{submission.user.username}") %> solved <%= submission.problem.name %> in <%= Language.of(submission.track_id) %>. Interested? Read the <a href="/submissions/<%= submission.key %>">related discussion</a>.
    </p>
    <div style="padding-top: 2px;">
      <% submission.solution.each do |filename, code| %>
      <h3><%= filename %></h3>
        <%= syntax(code, submission.track_id) %>
      <% end %>
    </div>
  </div>
</div>
</div>
