<div <%= "id='#{html[:id]}'" if html[:id] %>
  <%= "style='#{html[:style]}'" if html[:style] %>
  class="revision code span6">
  <h2>
    <a href="/submissions/<%= submission.id %>">
      <%= title %>
    </a>
    <div style="float: right;">
    <span class="badge badge-important"><%= submission.nc %>
    </span>
    </div>
  </h2>
  <h3>
    <small>Submitted <%= ago(submission.created_at) %> &centerdot;
      <a href="/submissions/<%= submission.id %>">
        view submission &raquo;
      </a>
    </small>
  </h3>
  <div class"btn-group">
    <a class="btn" data-action="enlarge">
      <i class="icon-resize-full"></i>
    </a>
    <a style="display: none;" class="btn" data-action="shrink">
      <i class="icon-resize-small"></i>
    </a>
    <br />
  </div>
  <div style="padding-top: 2px;">
    <%= md(submission.code, submission.language) %>
  </div>
</div>
