<li class="dropdown">
  <% if current_user.daily_count >= Daily::LIMIT %>
    <a class="dropdown-toggle" data-toggle="tooltip" data-placement="bottom" title="Good job!" style="font-size: 16pt">
      <i class="fa fa-check"></i>
    </a>
  <% else %>
    <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="font-size: 20pt; font-weight: bold">
    <%= Daily::LIMIT - current_user.daily_count %>
    <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu">
      <li class="dropdown-header">Give feedback on these submissions:</li>
      <% current_user.dailies.each do |daily| %>
        <li><a role="menuitem" tabindex="-1" href="/exercises/<%= daily.key %>"><%= nav_text(daily.slug) %> in <%= Language.of(daily.language) %> by <%= daily.username %></a></li>
      <% end %>
    </ul>
  <% end %>
</li>
