<li class="dropdown">
  <% total = current_user.count_existing_five_a_day.to_i || 0 %>
  <% if total >= 5 %>
    <a class="dropdown-toggle" data-toggle="tooltip" data-placement="bottom" title="Good job!" style="font-size: 16pt">
      <i class="fa fa-check"></i>
    </a>
  <% else %>
    <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="font-size: 20pt; font-weight: bold">
    <%= 5 - total %>
    <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu">
      <li class="dropdown-header">Give feedback on these submissions:</li>
      <% current_user.five_a_day_exercises.each do |exercise| %>
        <li><a role="menuitem" tabindex="-1" href="/exercises/<%= exercise["key"] %>"><%= nav_text(exercise["slug"]) %> in <%= X::Language.of(exercise["language"]) %> by <%= exercise["username"] %></a></li>
      <% end %>
    </ul>
  <% end %>
</li>
