<h1>Notifications</h1>

<div class="row notifications">

  <div class="span4">
    <p><b>on conversations you're participating in</b></p>
    <ul>
      <% notifications.general.each do |notification| %>
      <li class="<%= notification.state %>">
      <span class="icon icon-<%= notification.icon %>"></span>
      <a href="<%= notification.link %>">
        <b><%= notification.username %></b>:
        <%= notification.language %>
        <%= notification.slug %>
      </a>
      <%= ago(notification.created_at) %>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="span4">
    <% unless notifications.personal.count.zero? %>
    <p><b>on your exercises</b></p>
    <ul>
      <% notifications.personal.each do |notification| %>
      <li class="<%= notification.state %>">
      <span class="icon icon-<%= notification.icon %>"></span>
      <a href="<%= notification.link %>">
        <%= notification.language %>
        <%= notification.slug %>
      </a>
      <%= ago(notification.created_at) %>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="span4">
    <form action="/notifications/read" method='POST'>
      <input type="hidden" name="_method" value="delete">
      <div>
        <button type="submit" class="btn btn-danger" name="delete">Delete All Read Notifications</button>
      </div>
    </form>

    <p class="nota-bene">Note: This notification page is a temporary measure. We are in the process of designing the application (as opposed to just slinging features around), and this is a step backwards so that we can step forwards in a different direction without creating a long-lived branch.</p>
    <p class="nota-bene">Sorry about the inconvenience.</p>
  </div>

</div>
