<div class="container">
  <section class="page-header">
    <h1>Notifications (<%= inbox.count %>)</h1>
  </section>
  <div class="row">
    <div class="col-md-12">

      <% if inbox.has_notifications? %>
      <form action="/notifications/read" method='POST' style="float: right; margin: 18px 120px 0 0;">
        <div>
          <button type="submit" class="btn btn-danger" name="mark-all-read">Mark all as read</button>
        </div>
      </form>
      <% end %>

      <% unless inbox.has_stuff? %>
        <p>Notifications tell you about new comments or iterations in conversations that you are participating in. If you are on a team, you will also get notifications about activity from your team members.</p>
        <p>At the moment this is not configurable.</p>
        <p>You will also receive system-level alerts here, such as team invitations or notifications about feature changes on the site.</p>
      <% end %>

      <p class="well">Are you looking for a discussion you recently viewed? There's a <a href="/looks">list of these</a> available.</p>

      <% if inbox.has_unconfirmed_team_memberships? %>
        <ul style="list-style-type: none; margin: 0;">
          <% inbox.unconfirmed_team_memberships.each do |team_membership| %>
          <li class="alert-row">
            <span class="fa fa-bell-o alert-icon"></span>
            <% if team_membership.inviter.present? %>
            <a href="<%= team_membership.inviter.username %>"><%= team_membership.inviter.username.capitalize %></a> would like you to join the team <%= team_membership.team.name %>.
            <% else %>
            You are invited to join the team <%= team_membership.team.name %>.
            <% end %>
            <form action="<%= "/teams/#{team_membership.team.slug}/confirm" %>" method="post" class="inline">
              <input type="hidden" name="_method" value="put"/>
              <input type="submit" name="update" value="Accept invitation" class="btn btn-xs btn-success"/>
            </form>
            <form action="<%= "/teams/#{team_membership.team.slug}/leave" %>" method="post" class="inline">
              <input type="hidden" name="_method" value="put" />
              <input type="submit" name="update" value="Decline" class="btn btn-xs btn-danger"/>
            </form>
          </li>
          <% end %>
        </ul>
      <% end %>

      <% if inbox.has_alerts? %>
        <ul style="list-style-type: none; margin: 0;">
          <% inbox.alerts.each do |alert| %>
          <li class="alert-row">
            <span class="fa fa-bell-o alert-icon"></span>
            <form action="/notifications/alert-<%= alert.id %>" method='POST' class="delete-alert">
              <input type="hidden" name="_method" value="delete">
              <button type="submit" class="btn btn-danger" name="delete"><i class="fa fa-times"></i></button>
            </form>
            <%= alert.text %>
            <a href="<%= alert.url %>"><%= alert.link_text %></a>
          </li>
          <% end %>
        </ul>
      <% end %>

      <ul style="list-style-type: none; margin: 0;">
        <% inbox.notifications.each do |notification| %>
          <% if notification.item %>
            <li style="padding: 5px 0;">

              <% if notification.regarding == 'code' %>
                <span style="padding-right: 5px;" class="fa fa-code"></span>
              <% else %>
                <span style="padding-right: 5px;" class="fa fa-comment-o"></span>
              <% end %>

              <a href="/submissions/<%= notification.item.key %>">
                <%= notification.language %>:
                <%= notification.slug %> &middot;
                <%= notification.item.user.username %>
              </a>

              <br>

              <p style="padding-left: 24px;">
              <% if notification.regarding == 'code' %>
                New iteration
              <% elsif notification.regarding == 'nitpick' %>
                <b><%= notification.creator.username %></b> commented
              <% elsif notification.regarding == 'like' %>
                <b><%= notification.creator.username %></b> liked
              <% end %>
              <%= ago(notification.created_at) %>
              </p>
            </li>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
