<div class="container">
  <section class="page-header">
    <h1>Stats: <small><%= progress.language %></small></h1>
  </section>

  <ul class="nav nav-tabs">
    <% tracks.each do |track| %>
      <% css_class = (track.id == progress.track_id ? 'active' : '') %>
      <li class="<%= css_class %>">
        <a href="/stats/<%= track.id %>"><%= track.language %></a>
      </li>
    <% end %>
  </ul>

  <h2>Exercises</h2>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Pending Submissions</th>
        <th>Needs Input Submissions</th>
        <th>Superseded Submissions</th>
        <th>Completed Submissions</th>
        <th>Hibernating Submissions</th>
        <th>Nitpicks</th>
      </tr>
    </thead>
    <tbody>
    <% progress.metrics.each do |metric|%>
      <tr>
        <td>
          <%= metric.slug.titleize %>
        </td>
        <td><%= metric.pending %></td>
        <td><%= metric.needs_input %></td>
        <td><%= metric.superseded %></td>
        <td><%= metric.done %></td>
        <td><%= metric.hibernating %></td>
        <td><%= metric.nits %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
