<div class="container">
  <section class="page-header">
    <h1>Recently Viewed</h1>
  </section>

  <section>
    <div class="row">
      <div class="col-md-6">
        <% if exercises.empty? %>
          <p>No exercises viewed in the past 30 days.</p>
        <% else %>
          <h3>Exercises viewed in the past 30 days</h3>

          <ul class="active-exercises">
            <% exercises.each do |exercise| %>
              <li>
              <a href="/exercises/<%= exercise.key %>" class="exercise">
                <%= exercise.problem.name %> in <%= exercise.problem.language %>
              </a>
              by @<%= exercise.user.username %>
            </li>
            <% end %>
          </ul>

          <%= will_paginate exercises, renderer: BootstrapPagination::Sinatra %>
        <% end %>
      </div>
    </div>
  </section>
</div>
