<div class="container">
  <section class="page-header">
    <h1>Languages</h1>
  </section>
  <div class="row">
    <div class="col-lg-12">
    <table class="table">
      <tr>
        <th></th>
        <th class="center">Problems</th>
        <th class="center">Active users</th>
        <th class="center">Submitted solutions</th>
        <th class="center">Average comments per submission</th>
      </tr>
        <% tracks.each do |t| %>
          <% if t.active? %>
            <% lt = LanguageTrack.new(t.slug) %>
            <tr>
              <td><a href="/languages/<%= t.slug %>"><%= t.language %></a></td>
              <td class="center"><%= t.problems.count %></td>
              <td class="center"><%= lt.num_users %></td>
              <td class="center"><%= lt.num_iterations %></td>
              <td class="center"><%= lt.avg_comments %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>