<div class="container getting-started">
  <%= erb :"languages/_header", locals: { language: language } %>
  <article class="article-block">
    <div class="article-contents">
      <%= erb :"languages/_docs", locals: { docs: docs, language: language } %>
      <% if problem %>
        <h2 class="header">Fetch your first exercise</h2>
        <pre> exercism fetch <%= slug %> <%= problem.slug %></pre>
      <% end %>
    </div>
  </article>
  <%= erb :"languages/_getting_started", locals: { language: language, slug: slug } %>
</div>
