<div class="container getting-started">
	<section class="page-header">
		<h1><%= language %></h1>
	</section>
	<% if active %>
		<article class="article-block">
			<div class="article-contents">
				<h2 class="header">Available Exercises</h2>
				<% problems.each do |problem| %>
					<h5><a href="/exercises/<%= slug %>/<%= problem.slug %>/readme"><%= problem.name %></a></h5>
						<p><%= problem.blurb %></p>
				<% end %>
			</div>
		</article>
		<article class="article-block">
			<div class="article-contents">
				<h2 class="header">Getting Started</h2>
				<p>Need help getting started? You can find install documentation and resources for <%= language %> <a href="http://help.exercism.io/getting-started-with-<%= slug %>.html">here</a>.</p>
			</div>
		</article>
	<% elsif exists %>
		<h3>We're still working on <%= language %>. <a href="https://github.com/exercism/x<%= slug %>">Want to help us out?</a></h3>
	<% else %>
		<h3>If you'd like to see exercises in this language, <a href="https://github.com/exercism/exercism.io/issues/new">let us know.</a></h3>
	<% end %>
</div>