<div class="container getting-started">
  <%= erb :"languages/_header", locals: { language: language } %>
  <%= erb :"languages/_fetch_problem", locals: { problem: problems.first, slug: slug } %>
  <%= erb :"languages/_getting_started", locals: { language: language, slug: slug } %>
  <%= erb :"languages/_having_issues", locals: { repo_url: repo_url } %>
  <article class="article-block">
    <div class="article-contents">
      <%= erb :"languages/_docs", locals: { docs: docs } %>
      <h2 class="header">Available Exercises</h2>
      <% problems.each do |problem| %>
        <h5>
          <a href="/exercises/<%= slug %>/<%= problem.slug %>/readme"><%= problem.name%></a>
          <b class="caret fuchsia" data-toggle="collapse" data-target="#<%=problem.slug%>" aria-expanded="false" aria-controls="<%=problem.slug%>"></b>
        </h5>
        <div class="collapse" id="<%=problem.slug%>">
          <div class="well">
          <p><%= problem.blurb %></p>
        </div>
      </div>
      <% end %>
    </div>
  </article>
</div>
