<ul class="nav nav-stacked nav-bordered">
  <% inbox.problems.each do |problem|%>
  <li class="<%= 'active' if problem.slug==inbox.slug %>">
    <a href="<%= exercise_url % [inbox.track_id, problem.slug] %>">
      <%= problem.name %>
      <span class="total-count">
        <%= problem.total %>
      </span>
    </a>
    <% if problem.unread > 0 %>
    <span class="badge unread-count">
      <%= problem.unread %>
    </span>
    <% end %>
  </li>
  <% end %>
</ul>
