<a href="/languages/<%= track.id %>" class="track_link col-xs-4 col-sm-4 col-md-2 col-lg-2">
  <div class="text-center">
    <%= track_icon(track.id) %>
    <p><%= track.language %></p>
    <p><%= track.problems.count %> <%= 'Problem'.pluralize(track.problems.count) %></p>
  </div>
</a>
