<% if exercise.implementations.any? %>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 track_link">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p><%= exercise.slug %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <%= md(exercise.blurb) %>
        </div>
      </div>
      <div class="row text-center">
        <% if exercise.readme_url %>
          <a href="<%= exercise.readme_url %>" target="_blank" class="col-lg-6">README</a>
        <% end %>
        <% if exercise.data %>
          <a href="<%= exercise.data %>" target="_blank" class="col-lg-6">DATA</a>
        <% end %>
      </div>
      <% exercise.implementations.each_slice(4) do |im| %>
        <div class="row text-center">
          <% im.each do |i| %>
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
              <div class="text-center">
                <%= track_icon(i["track_id"]) %>
                <p><a href="<%= i["url"] %>" target="_blank"><%= i["track_id"] %></a></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
<% end %>

