<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 track_link">
  <div class="row">
    <div class="col-lg-8 text-center">
      <h2 class="exercise-name"><%= exercise.name %></h2>
    </div>
    <div class="col-lg-2 text-center icon-column">
      <% if exercise.readme_url %>
        <a href="<%= exercise.readme_url %>" target="_blank"><i style="font-size: 20px;" class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Problem description"></i></a>
      <% end %>
    </div>
    <div class="col-lg-2 text-center icon-column">
      <% if exercise.data %>
        <a href="<%= exercise.data %>" target="_blank"><i style="font-size: 20px;" class="fa fa-list" data-toggle="tooltip" data-placement="top" title="Test data"></i></a>
      <% end %>
    </div>
  </div>
  <div class="row row-margin-bottom">
    <div class="col-lg-12">
      <h5><%= exercise.blurb %></h5>
    </div>
  </div>
  <% exercise.implementations.each_slice(4) do |im| %>
    <div class="row text-center"  style="padding: 10px;">
      <% im.each do |i| %>
        <a a href="<%= i["url"] %>" target="_blank" class="col-xs-3 col-sm-3 col-md-3 col-lg-3" data-toggle="tooltip" data-placement="top" title="<%= i["track_id"] %>">
          <div class="text-center">
            <%= track_icon(i["track_id"], 30) %>
          </div>
        </a>
      <% end %>
    </div>
  <% end %>
</div>


