<div class="col-lg-4">
  <h3 class="exercise-name"><%= exercise.name %></h3>
</div>
<div class="col-lg-4">
  <p><%= exercise.blurb %></p>
  <p>
  <div class="link-icons">
    <% if exercise.readme_url %>
      <a href="<%= exercise.readme_url %>" target="_blank"><i style="font-size: 20px;" class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Problem description"></i>Description</a>
    <% end %>
  </div>
  <div class="link-icons">
    <% if exercise.data %>
      <a href="<%= exercise.data %>" target="_blank"><i style="font-size: 20px;" class="fa fa-list" data-toggle="tooltip" data-placement="top" title="Test data"></i>Test Data</a>
    <% end %>
  </div>
  </p>
</div>
<div class="col-lg-4">
  <% exercise.implementations.each_slice(4) do |im| %>
    <% im.each do |i| %>
      <a a href="<%= i["url"] %>" target="_blank" class="col-xs-3 col-sm-3 col-md-3 col-lg-3" data-toggle="tooltip" data-placement="top" title="<%= i["track_id"] %>">
        <div class="text-center">
          <%= track_icon(i["track_id"], 30) %>
        </div>
      </a>
    <% end %>
  <% end %>
</div>
<%# <div class="col-lg-1 link-icons"> %>
<%#   <% if exercise.readme_url %1> %>
<%#     <a href="<%= exercise.readme_url %1>" target="_blank"><i style="font-size: 20px;" class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Problem description"></i></a> %>
<%#   <% end %1> %>
<%#   <% if exercise.data %1> %>
<%#     <a href="<%= exercise.data %1>" target="_blank"><i style="font-size: 20px;" class="fa fa-list" data-toggle="tooltip" data-placement="top" title="Test data"></i></a> %>
<%#   <% end %1> %>
<%# </div> %>


