<tr>
  <td><%= track_icon(track.id) %></td>
  <td><%= track.language %></td>
  <td>
    <% if track.active %>
       <a href="<%= track.repository%>"><%= track.repository %></a>
    <% else %>
      <p><a href="https://github.com/exercism/x<%= track.id %>/issues/<%= track.checklist_issue %>">Launch checklist</a>
      </p>
    <% end %>
  </td>
</tr>
