<div class="container">
  <section>
    <h1>Exercism Language Track Repositories</h1>

    <p class="lead">For a high-level overview of Exercism and its repositories, see <a href="https://github.com/exercism/exercism.io/blob/master/docs/overview-of-exercism.md">this documentation</a>.</p>

    <p>We have <%= active.count %> language tracks, and <%= upcoming.count + planned.count %> more that are being worked on.</p>

    <%= erb :'languages/_repo', locals: { tracks: active, active: true } %>

    <h3>In Progress</h3>
    <p>Help contribute to inactive languages by adding more exercises, and helping to review code. To see what still needs to be done, view the launch checklist.</p>

    <%= erb :'languages/_repo', locals: { tracks: upcoming, active: false } %>

    <h3>Requested</h3>
    <p> People have requested these languages, but we need exercises before we can launch the track. Check out the launch checklist for an idea of what needs to be done.</p>
  <%= erb :'languages/_repo', locals: { tracks: planned, active: false } %>
</div>
