%nav.account-nav-container
  %ul.account-nav-tree
    %li.nav-tree-item
      %a.nav-tree-title.nav-link{:href => "#"} Teams
      %span.counter= nav.team_count
      %ul.account-nav-teams
        - nav.teams.each do |team|
          %li
            %a{:href => link_to("/teams/#{team.slug}")}= team.name
          %a.account-nav-add-team{:href => "#"} + Add Team
          %form.account-nav-add-team-form{ :action => "", :method => "post"}
            %input{:type => "text", :name => "team-name", :class => "text", :value => "Team Name"}
            %input{:type => "text", :name => "user-names", :class => "text", :value => "username1, username2"}
            %input{:type => "submit", :value => "Add Team", :class => "button"}
    %li.nav-tree-item
      %a.nav-tree-title.nav-link{:href => "#"} Exercises
      %span.counter= nav.exercise_count
      %ul.account-nav-exercises
        - nav.exercises.each do |exercise|
          %li
            %div.account-exercise{:class => exercise.read? ? 'exercise-read' : ''}
              %a.exercise-title{:href => link_to(exercise.path)}= exercise.name
              %a.exercise-language{:href => link_to(exercise.path)}= exercise.language
    %li.nav-tree-item
      %a.nav-tree-title.nav-link{:href => "#"} Nitpicks
      %span.counter= nav.conversation_count
      %ul.account-nav-nitpicks
        %a.delete-all-read{:href => "#"} Delete All Read
        - nav.conversations.each do |conversation|
          %li.nitpick-container
            %img{:src => link_to("/icons/#{conversation.icon}.svg")}
            %a.nitpick-details{:href => link_to(conversation.path)}
              %div.exercise-title= conversation.name
              %div.exercise-language= conversation.language
              %div.exercise-username= conversation.username
              %div.posted-at= ago(conversation.at) #conversation.activity

    %li.nav-tree-item
      %a.nav-tree-title.nav-link{:href => link_to('/exercises/active')} Needs Nitpicked
    %li.nav-tree-item
      %a.nav-tree-title.nav-link{:href => link_to('/exercises/completed')} View Solutions
