<div class="container">
  <section class="page-header">
    <h1><%= profile.username %></h1>
  </section>
  <div class="row">
    <div class="col-md-12">
      <p>GitHub Profile: <%= profile.github_link %></p>
      <h3>Exercises</h3>
      <h4>Current</h4>
      <% if profile.has_current_submissions? %>
        <%= erb :"user/_exercises_table", locals: { profile: profile, exercises: profile.current } %>
      <% else %>
        <p><%= profile.no_current_sumbissions_message %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Completed</h4>
      <% if profile.has_completed_submissions? %>
        <table class="table table-bordered table-striped">
          <col />
          <col width="100%" />
          <thead>
            <tr>
              <th>Language</th>
              <th>Exercises</th>
            </tr>
          </thead>
          <tbody>
            <% profile.track_ids.each do |track_id| %>
              <tr>
                <td><%= Language.of(track_id) %></td>
                <td>
                  <% profile.completed_in(track_id).each do |submission| %>
                    <span class="completed-exercise">
                      <%= profile.submission_link(submission) %>
                    </span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p><%= profile.no_completed_sumbissions_message %></p>
      <% end %>
    </div>
  </div>
</div>
