!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  = haml :"layout/head"
  %body
    = haml :"layout/ie_warning"

    - if current_user.guest?
      = haml :"layout/topnav_guest"

      %section#section-content
        = yield
    - else
      .row.aside-show.unstyled

        %aside#sidebar-first.col-md-3
          = haml :"layout/sidebar/profile"
          = haml :"layout/sidebar/alerts"
          = haml :"layout/sidebar/menu"

        .col-md-9.section-main
          = haml :"layout/topnav_user"
          .section-content
            = yield

    = haml :"layout/footer"
    = haml :"layout/foot"
