!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  = haml :"layout/head"
  %body
    = haml :"layout/ie_warning"
    = haml :"layout/header"

    %section#section-content
      = yield

    = haml :"layout/footer"
    = haml :"layout/foot"
