<div id="current_submission" class="code col-md-6">
  <div class="theiaStickySidebar">
    <div class="submission-code-actions btn-group pull-right">
      <a
        class="btn btn-default hidden-xs"
        data-action="enlarge"
        data-new-class="col-md-12"
        data-old-class="col-md-6">
        <i class="fa fa-expand"></i>
      </a>
      <a
        style="display: none;"
        class="btn btn-default"
        data-action="shrink"
        data-new-class="col-md-6"
        data-old-class="col-md-12">
        <i class="fa fa-compress"></i>
      </a>
      <a
        class="btn btn-default"
        href="#"
        id="copy-code">
        <i class="fa fa-clipboard"></i>
      </a>
    </div>

    <div class="clearfix"></div>

    <% if submission.test_data.present? %>
      <span> Build Status <a class='test_output' href="javascript:;">more >></a></span>
      <p class='show-test-output'><h5><b><%= submission.test_data %></b><h5></p>
      <p class='show-test-output' style="display:none">
        <%= submission.test_output %>
      </p>
    <% end %>

    <% if submission.user.source_type == 'GITHUB' %>
      <div id="git-tree-content"></div>
      <div id="error-message"></div>
      <div id="git-code"></div>

      <script>
        var treeContent = <%= solution %>;
        var key = "<%= params[:key] %>".toString();
      </script>
    <%else%>
      <% solution.each do |filename, code| %>
        <h4><%= filename %></h4>
        <%= md(code, filename) %>
      <% end %>
    <% end %>
    
    <br/>
    <% if submission.analysis.present? %>
      <span> Analysis Summary <a class='analysis' href="javascript:;">more >></a></span>
      <p class='show-analysis'><h4><b><%= submission.analysis.split("\n").last %></b><h4></p>
      <p class='show-analysis' style="display:none">
        <% submission.analysis.split("C:").each do |txt| %>
            <%= txt %><br/><br/>
        <%end%>  
      </p>
    <%end%>

    <div class="submission-likes">
      <%= like_submission_button(submission, current_user) %>
      <% if submission.liked? %>
        <p><%= these_people_like_it(submission.liked_by) %></p>
      <% end %>
    </div>
  </div>
</div>
