<div class="submission-header page-header">
  <h1 class="pull-left">
    <span class="submission-language">
      <a
        href="<%= path_for(submission.problem.track_id) %>"
        data-toggle="tooltip"
        data-placement="bottom"
        title="<%= submission.problem.language %>">
        <%
          lang = case submission.language
          when "go" then "golang"
          else submission.language
          end
          %>
        <%= language_icon(lang) %>
      </a>
    </span>
    <%= submission.problem.name %>
  </h1>
  <%= erb :"submissions/toolbar", locals: { submission: submission, last_in_inbox: last_in_inbox, own_uuid: submission.exercise_uuid_by(current_user) } %>
  <div class="clearfix"></div>
  <div class="submission-author text-muted">
    submitted by <%= profile_link(submission.user) %>
    <%= ago(submission.created_at) %>
  </div>
</div>
