<div class="submission-iterations">
  <ul class="pull-right nav nav-pills hidden-xs">
    <li>
      <a href="/exercises/<%= submission.track_id %>/<%= submission.slug %>/readme">Readme</a>
    </li>
    <li>
      <a href="/exercises/<%= submission.track_id %>/<%= submission.slug %>">Test Suite</a>
    </li>
  </ul>
  <ul class="nav nav-tabs iterations-nav
    <%= "completed"   if submission.user_exercise.archived? %>
    <li class="iteration-label hidden-xs">
      <span class="label label-default">Iterations</span>
    </li>
    <% submission.user_exercise.submissions.each do |s| %>
      <li class="<%= "active" if s == submission %>">
        <a href="/submissions/<%= s.key %>">
          <i class="fa"></i>
          <%= s.version %>
          <% unless s.comments.empty? %>
            <span class="badge"><%= s.comments.size %></span>
          <% end %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
