<div class="comment <%= "comment-submitter" if nit.nitpicker == submission.user %>">
  <div class="comment-author">
    <a href="/<%= nit.user.username %>">
      <img src="<%= nit.user.avatar_url %>" class="img-responsive img-rounded" />
    </a>
  </div>
  <div class="comment-body">
    <%= nit.html_body %>
    <div class="comment-meta">
      <%= profile_link(nit.user) %>
      commented <%= ago(nit.created_at) %>

      <% unless nit.mentions.empty? %>
        <span>
          | Mentions:
          <% nit.mentions.each do |mention| %>
      <em><%= profile_link(mention) %></em>
          <% end %>
        </span>
      <% end %>

      <% if current_user == nit.nitpicker %>
        <a href="/submissions/<%= submission.key %>/nits/<%= nit.id %>/edit" class="pull-right btn btn-default btn-xs edit-text">
          <i class="fa fa-pencil"></i> Edit
        </a>
      <% end %>
    </div>
  </div>
</div>