<% if submission.user.completed?(submission.exercise) %>

  <form accept-charset="UTF-8" action="/submissions/<%= submission.key %>/respond" method="POST">
    <%= erb :"submissions/small_comment" %>
    <button type="submit" name="nitpick" class="btn btn-primary">Comment</button>
  </form>

<% else %>

  <% if current_user.owns?(submission) %>

    <p><a href="http://exercism.io/help/how-to-nitpick" target="_blank">Comments</a> are parsed with <a href="https://help.github.com/articles/github-flavored-markdown" target="_blank">GitHub Flavoured Markdown</a></p>
    <%= erb :"submissions/encourage_submitter", locals: {version: submission.version, nit_count: submission.nit_count} %>

  <% else %>

    <p><a href="http://exercism.io/help/how-to-nitpick" target="_blank">Nitpicks</a> are parsed with <a href="https://help.github.com/articles/github-flavored-markdown" target="_blank">GitHub Flavoured Markdown</a></p>
    <%= erb :"submissions/encourage_nitpicker", locals: {language: submission.language} %>

  <% end %>

  <form accept-charset="UTF-8" action="/submissions/<%= submission.key %>/nitpick" method="POST">
    <%= erb :"submissions/comment" %>
    <% if current_user.owns?(submission) %>
      <button type="submit" name="nitpick" class="pull-right btn btn-primary">Submit Comment</button>
    <% else %>
      <button type="submit" name="nitpick" class="pull-right btn btn-primary">Nitpick</button>
    <% end %>
  </form>

<% end %>

