<div class="span4">
  <h5>
    <%= gravatar_tag current_user.avatar_url, size: 20 %>
    <a href="/<%= member.username %>"><%= member.username %></a>
  </h5>
  <% if submissions.any? %>
    <ul>
      <% submissions.each do |submission| %>
        <li>
          <a href="/submissions/<%= submission.id %>">
            <%= submission.exercise.name %>
            (<%= submission.language.capitalize %>)
          </a>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No current submissions.</p>
  <% end %>
</div>
