<div class="col-md-4" id="<%= member.username %>">
  <h5 class="well">
    <%= gravatar_tag member.avatar_url, size: 20 %>
    <a href="/<%= member.username %>"><%= member.username %></a>
  </h5>
  <% if exercises.any? %>
    <ul>
      <% exercises.by_activity.limit(5).each do |exercise| %>
        <li>
        <% if current_user.can_access?(exercise) %>
          <a href="/exercises/<%= exercise.key %>">
            <%= exercise.problem.language %>: <%= exercise.problem.name %>
          </a>
        <% else %>
          <i class="fa fa-lock"></i>
          &nbsp;
          <a href="/exercises/<%= exercise.track_id %>/<%= exercise.slug %>">
            <%= exercise.problem.language %>: <%= exercise.problem.name %>
          </a>
        <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No current submissions.</p>
  <% end %>
</div>
