<div class="col-md-4" id="<%= member.username %>">
  <h5 class="well">
    <%= gravatar_tag member.avatar_url, size: 20 %>
    <a href="/<%= member.username %>"><%= member.username %></a>
    <% if team.managed_by?(current_user) %>
      <a href="#" data-username="<%= member.username %>" data-team="<%= team.slug %>"
         class="btn btn-xs btn-danger hidden member_delete">Remove</a>
    <% end %>
    <% if member == current_user %>
      <form action="<%= "/teams/#{team.slug}/leave" %>" method="post" class="team-leave-form" style="float: left; padding-right: 10px">
        <input type="hidden" name="_method" value="put" />
        <input type="submit" name="update" value="Leave" class="btn btn-xs btn-danger"
        <% if team.managed_by?(current_user) %>
          data-toggle="tooltip" data-placement="top"
          title="If you leave, you will stay on as manager but your exercises will no longer show up."
        <% end %>
        />
      </form>
    <% end %>
  </h5>
  <p>
  <% if team.unconfirmed_members.include?(member) %>
    Pending confirmation.
  <% end %>
  </p>
  <% if submissions.any? %>
    <ul>
      <% submissions.reversed.limit(5).each do |submission| %>
        <li>
          <% if current_user.working_on?(submission.problem) || team.managed_by?(current_user) || current_user.nitpicker_on?(submission.problem) %>
            <a href="/submissions/<%= submission.key %>">
              <%= submission.problem.name %>
              (<%= submission.problem.language %>: <%= submission.nit_count %>)
            </a>
        <% else %>
          <%= submission.problem.name %>
          (<%= submission.problem.language %>)
        <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No current submissions.</p>
  <% end %>
</div>
