<div class="container">
  <section class="page-header">
    <% if team.all_members.any? {|member| member.username == current_user.username} %>
      <form action="<%= "/teams/#{team.slug}/leave" %>" method="post" class="team-leave-form" style="float: right; padding-left: 10px">
        <input type="hidden" name="_method" value="put" />
        <input type="submit" name="update" value="Leave team" class="btn btn-xs btn-danger"
        <% if team.managed_by?(current_user) %>
          data-toggle="tooltip" data-placement="top"
          title="If you leave, you will stay on as manager but your exercises will no longer show up."
        <% end %>
        />
      </form>
    <% end %>

    <h1>
      Team <%= h(team.name) %>
      <% if team.managed_by?(current_user) %>
        <a href="/teams/<%= team.slug %>/manage" class="btn btn-default">Manage</a>
      <% end %>
    </h1>
  </section>

  <h3><%= team.confirmed_members.size %> members</h3>
  <p>Click on a team member's name to see their full list of exercises.</p>

  <% team.confirmed_members.each_slice(3) do |row| %>
    <div class="row">
      <% row.each do |member| %>
        <%= erb :"teams/member_submissions", locals: {team: team, member: member, exercises: member.exercises} %>
      <% end %>
    </div>
  <% end %>
</div>
