.row(style="margin-top: 40px;")
  .span2
    .tabbable.tabs-left
      %ul.nav.nav-pills.nav-stacked
        - (1..iterations.count).each do |i|
          %li{:class => i == 1 ? 'active' : ''}
            %a{:href => "#tab#{i}", "data-toggle" => "tab"}= "Iteration #{i}"

  .span10
    .tab-content
      - iterations.each_with_index do |iteration, i|
        .tab-pane{:id => "tab#{i}", :class => i+1 == 1 ? "active" : ''}
          = preserve md(iteration.code, iteration.language)

          .comments(style="margin-top: 20px;")
            - iteration.comments.each do |comment|
              .media
                %a.pull-left
                  %img{src: "/img/#{comment.avatar}", class:"media-object", width: "48"}
                .media-body
                  %h4.media-heading
                    = comment.username
                    %small.label(style="position: relative; bottom: 2px;")
                      = comment.author? ? 'author' : 'peer'

                  = preserve md(comment.text)
