<div id="home">
  <section class="main">
    <section>
      <div class="home-top">
        <div class="container">
          <section class="contain-centered">
            <img class="logo" src="<%= link_to("/icons/logo.svg") %>"/>
            <h2 class="home-top-header">The devil is in the details</h2>
            <a class="btn btn-lg btn-block login-btn" href="/login">log in via github</a>
          </section>
        </div>
      </div>
    </section>
  </section>
  <div class="container">
    <section class="content-primary">
      <div class="row">
        <div class="col-md-6">
          <h2 class="header">Deep Practice</h2>
          <p>Deliberately focus on improving your skills.</p>
          <p>Gain a deep understanding of the fundamentals of your craft.</p>
          <p>Experiment in a place where bugs don't inconvenience anyone.</p>
        </div>
        <div class="col-md-6">
          <h2 class="header">Crowdsourced Mentorship</h2>
          <p>Practice providing useful critique.</p>
          <p>Discuss code in both subjective and objective terms.</p>
          <p>Strengthen your problem-solving skills by guiding others through the process.</p>
        </div>
      </div>
    </section>
    <hr/>
    <section class="content-primary home">
      <div class="row">
        <div class="col-md-4">
          <img class="medallion" src="<%= link_to("/icons/badge-iteration.svg") %>"/>
          <h2 class="header">Practice</h2>
          <p class="contain-centered">
            <span class="home-third-subheader">
              Focus on expressive, readable code.
            </span>
          </p>
          <p class="home-p-text">
            Work in your local development environment using your usual tools
            <a href="<%= link_to('/about') %>">in multiple languages</a>.
            We give you a test suite, and you make the tests pass... but that's just the first step.
          </p>
        </div>
        <div class="col-md-4">
          <img class="medallion" src="<%= link_to("/icons/badge-people.svg") %>"/>
          <h2 class="header">Communicate</h2>
          <p class="contain-centered">
            <span class="home-third-subheader">
              The code is a conversation starter.
            </span>
          </p>
          <p class="home-p-text">
            Have a thoughtful discussion with your peers about the choices that you made. Take this opportunity to explore idioms, style, and trade-offs.  There's no right answer, and many good questions.
          </p>
        </div>
        <div class="col-md-4">
          <img class="medallion" src="<%= link_to("/icons/badge-nitpick.svg") %>"/>
          <h2 class="header">Pay it Forward</h2>
          <p class="contain-centered">
            <span class="home-third-subheader">
              Explore other people's solutions.
            </span>
          </p>
          <p class="home-p-text">
            Articulate what you like and dislike in other people's code. Have a thoughtful, nuanced discussion, deepening your own understanding of the design choices that you make every day.
          </p>
        </div>
      </div>
    </section>
    <section class="content-secondary see-it">
      <div class="row">
        <div class="col-md-6">
          <h2 class="header">Better code through conversations.</h2>
          <p class="home-p-text">Thousands of conversations are happening on exercism. <a href="/conversations/1">Here's one of them.</a></p>
          <p class="home-p-text">You start with some code.  Talk about it a little.  Rewrite the code a bit, then post the new version.  Make it better.  After a few cycles you've got improved code, and perhaps even a new friend!</p>
        </div>
        <div class="col-md-6">
          <a href="/conversations/1">
            <img alt="Exercism code conversation." class="img-responsive" src="<%= link_to("/img/conversation.jpg") %>"/>
          </a>
        </div>
      </div>
    </section>
    <section class="content-secondary">
      <div class="row">
        <div class="col-md-6">
          <div class="content-secondary-details">
            <h2>Try it.</h2>
            <p class="home-p-text">You don't need to log in to check out the problems.</p>
            <p class="home-p-text">
              Download the
              <a href="https://github.com/exercism/cli/releases/latest">command line client</a>,
              and extract it.
            </p>
            <p class="home-p-text">The binary is named <kbd>exercism</kbd>. Fetch the first exercise available for each language:</p>
            <pre>$ ./exercism demo</pre>
          </div>
        </div>
        <div class="col-md-6">
          <img class="img-responsive" src="<%= link_to("/img/home-try-it.png") %>"/>
        </div>
      </div>
    </section>
  </div>
</div>
