%header#section-header.section-header-code.clearfix
  .row
    #title.col-md-3.head_logo
      %p
        %span.lrg= exercise.slug
        %span.sml{:class => exercise.language}= exercise.language
    #author.col-md-7
      %img.pull-left.img-circle{:src => exercise.avatar_url}/
      .info.pull-left
        %p.name= exercise.username
        %p
          Latest submission
          = ago(exercise.latest_submission_at)
          %span.delim /
          %span.text-line= exercise.views
        %p
          %span.strong= exercise.iteration_count
          = exercise.iteration_qualifier
          %span.delim /
          %span.text-line= exercise.status
        %p
          - if exercise.owned_by?(current_user)
            - if exercise.active?
              %a#close-exercise.same{:href => link_to(exercise.close_url)} close exercise
            - else
              %a#reopen-exercise.same{:href => link_to(exercise.reopen_url)} reopen exercise
    #logo.col-md-2.charcoal_logo
      %a.sprite-logo-dark{:href => link_to('/')} Exercism.io
