<div class="container">
  <section class="page-header">
    <h1>
      <%= problem.name %> in <%= problem.language %>
    </h1>
  </section>
  <nav role="navigation">
    <ul class="nav nav-tabs">
      <li role="presentation">
        <a href="<%= problem.name.downcase %>/readme">Readme</a>
      </li>
      <li role="presentation" class="active">
        <a href="<%= problem.name.downcase %>">Test Suite</a>
      </li>
    </ul>
  </nav>
  <% testfiles.each do |f| %>
    <div>
      <h4><%= f.filename %></h4>
      <%= md(f.content, f.extension) %>
    </div>
  <% end %>
</div>
