<div class="comment <%= "comment-submitter" if nit.nitpicker == submission.user %>">
  <div class="comment-author">
    <a href="/<%= nit.nitpicker.username %>">
      <img src="<%= nit.nitpicker.avatar_url %>" class="img-responsive img-rounded" />
    </a>
  </div>
  <div class="comment-body" data-nit-raw="<%= h(nit.body) %>" data-nitpicker="<%= nit.nitpicker.username %>" >
    <%= nit.html_body %>
    <div class="comment-meta">
      <% if current_user == nit.nitpicker %>
        <a href="/submissions/<%= submission.key %>/nits/<%= nit.id %>/edit" class="pull-right btn btn-default btn-xs edit-text">
          <i class="fa fa-pencil"></i> Edit
        </a>
      <% end %>

      <% if submission.user != nit.nitpicker %>
        <% unless own_uuid.empty? %>
          <a
            href="/exercises/<%= own_uuid %>"
            class="pull-right btn btn-default btn-xs"
            data-toggle="tooltip"
            data-placement="bottom"
            title="<%= nit.nitpicker.username %>'s solution to this exercise"
            target="_blank">
            <i class="fa fa-code"></i>
          </a>
        <% end %>
      <% end %>

      <% unless current_user.guest? %>
        <a
          data-action="reply"
          class="pull-right btn btn-default btn-xs"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Reply to <%= nit.nitpicker.username %>'s comments"
          href="">
          <i class="fa fa-reply"></i>
        </a>
      <% end %>

      <%= profile_link(nit.nitpicker) %>
      commented <%= ago(nit.created_at) %>

    </div>
  </div>
</div>
