<div class="container" id="submission">
  <div class="submission-header page-header">
    <h1 class="pull-left">
      <%= track_icon(submission.track_id, 40) %>
      <%= submission.problem.name %>
    </h1>

    <div class="pull-right submission-toolbar hidden-xs">
      <% if submission.user_exercise.help_requested? %>
        <span class="label label-danger">Requested help</span>
      <% end %>
      <div class="btn-group">
        <%= erb :"submissions/user_actions", locals: { submission: submission, exercise: submission.user_exercise } %>

        <% if current_user.owns?(submission) %>
          <a
            href=<%= URI::encode("https://twitter.com/intent/tweet?text=I just submitted the ##{submission.problem.language} #{submission.slug} exercise at @exercism_io - Leave me a nitpick at http://exercism.io/submissions/#{submission.key}")%>
            class="btn btn-default"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Share with Twitter"
            target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        <% else %>
          <% unless own_uuid.empty? %>
            <a
                href="/exercises/<%= own_uuid %>"
                class="btn btn-default"
                data-toggle="tooltip"
                data-placement="bottom"
                target="_blank">
                <i class="fa fa-code" style="font-size:1.75em"></i>
                <p style="color:#a8a8a8;font-size:.7em;margin: 0px 0px 0px 0px">
                  <i>My Solution</i></p>
            </a>
          <% end %>
        <% end %>
        <!-- next exercise -->
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="submission-author text-muted">
      submitted by <%= gravatar_tag submission.user.avatar_url, size: 20 %>
      <%= profile_link(submission.user) %>
      <%= ago(submission.created_at) %>

      <% if submission.user_exercise.archived? %>
        <span class="label label-danger">Archived</span>
      <% end %>

      <%= erb :'submissions/see_other_implementations', locals: { submission: submission } if current_user.access?(submission.problem) %>
    </div>
  </div>

  <div class="submission-iterations">
    <ul class="pull-right nav nav-pills hidden-xs">
      <li>
        <a href="/exercises/<%= submission.track_id %>/<%= submission.slug %>/readme">Readme</a>
      </li>
      <li>
        <a href="/exercises/<%= submission.track_id %>/<%= submission.slug %>/test-suite">Test Suite</a>
      </li>
    </ul>
    <ul class="nav nav-tabs iterations-nav">
      <li class="iteration-label hidden-xs">
        <span class="label label-default">Iterations</span>
      </li>
      <% submission.user_exercise.submissions.each do |s| %>
        <li class="iterations-nav-item <%= "active" if s == submission %>"
            data-solution="<%= h s.solution.to_a.to_json %>">
          <a href="/submissions/<%= s.key %>">
            <% unless submission.user_exercise.archived? %>
              <i class="fa"></i>
            <% end %>
            <%= s.version %>
            <% unless s.comments.empty? %>
              <span class="badge"><%= s.comments.size %></span>
            <% end %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="submission-iteration">
    <div class="row">
      <%= erb :"submissions/current_submission", locals: { submission: submission } %>
      <%= erb :"submissions/nitpicks", locals: { submission: submission, subscribed: ConversationSubscription.subscribed?(current_user, submission) } %>
    </div>
  </div>
</div>
