<% if current_user.owns?(submission) %>
  <div class="btn-group submission-user-actions">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Manage <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li>
        <% if exercise.help_requested? %>
          <form accept-charset="UTF-8" action="/exercises/<%= exercise.key %>/request-for-help" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" name="removerequest" class="btn btn-default">
            Cancel request for help</button>
          </form>
        <% else %>
          <form accept-charset="UTF-8" action="/exercises/<%= exercise.key %>/request-for-help" method="POST">
            <button
              type="submit"
              name="requesthelp"
              class="btn btn-default"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Your exercise will be marked on the activity stream as needing help">
              Request help
            </button>
          </form>
        <% end %>
      </li>
      <li>
        <% if exercise.archived? %>
          <form accept-charset="UTF-8" action="/exercises/<%= exercise.key %>/unarchive" method="POST">
            <button type="submit" name="reopen" class="btn btn-default">Reactivate Exercise</button>
          </form>
        <% else %>
          <form accept-charset="UTF-8" action="/exercises/<%= exercise.key %>/archive" method="POST">
            <button
              type="submit"
              name="done"
              class="btn btn-default">
              Archive Exercise
            </button>
          </form>
        <% end %>
      </li>

      <li class="divider"></li>

      <li>
        <form accept-charset="UTF-8" action="/submissions/<%= submission.key %>" method="POST">
          <input type="hidden" name="_method" value="delete">
          <button
            type="submit"
            class="btn btn-default"
            name="delete"
            onclick="return confirm('Are you sure you want to delete iteration <%= submission.version %>?');">
            <i class="fa fa-trash"></i> Delete Iteration <%= submission.version %>
          </button>
        </form>
      </li>
    </ul>
  </div>
<% end %>
