<main id="track-exercises" class="col-md-8">
  <% unless mark_as_read_url.empty? %>
    <form action="<%= mark_as_read_url % [stream.track_id, stream.slug]%>" method="POST" class="mark-all">
      <button type="submit" class="btn btn-link discrete">mark all as read</button>
    </form>
  <% end %>
  <h2><%= stream.title %></h2>

  <% if stream.exercises.any? %>
    <ul class="active-exercises">
      <% stream.exercises.each do |exercise| %>
      <li class="<%= 'unread' if exercise.unread? %>">
        <span class="col-md-10">
          <a href="/exercises/<%= exercise.uuid %>" class="exercise list-group-item">
            <img src="<%= exercise.avatar_url%>" width="60" height="60" alt="" class="avatar">
            <div class="inbox-text">
              <h4>
                <%= exercise.problem.name %>
                <span class="profile"> <%= exercise.username %> </span>
                <span class="track-icon"><%= track_icon(exercise.problem.track_id, 20) %></span>
              </h4>
              <p>
                <%= exercise.iteration_count %> <%= "iteration".pluralize(exercise.iteration_count) %>
                &middot;
                <%= exercise.comment_count %> <%= "comment".pluralize(exercise.comment_count) %>
              </p>
              <p><%= ago(exercise.at.to_time) %></p>
            </div>
          </a>
        </span>
        <span class="col-md-2">
          <% if exercise.unread? %>
          <form action="/exercises/<%= exercise.uuid %>/views?redirect=<%= request.path_info %>" method="POST">
            <button type="submit" class="btn btn-link discrete">mark as read</button>
          </form>
          <% end %>
          <% if exercise.help_requested? %>
            <span class="label label-danger">Requested help</span>
          <% end %>
        </span>
      </li>
      <% end %>
    </ul>
  <% end %>

  <div class="pagination">
    <%= will_paginate stream.pagination, renderer: BootstrapPagination::Sinatra %>
  </div>
</main>
