<table class="table table-bordered table-striped">
  <col width="25%" />
  <col width="75%" />
  <thead>
    <tr>
      <th>Language</th>
      <th>Exercises</th>
    </tr>
  </thead>
  <tbody>
    <% profile.archived_grouped_exercises.keys.each do |track_id| %>
      <tr>
        <td><%= Language.of(track_id) %></td>
        <td>
          <% exercises = profile.archived_grouped_exercises[track_id] %>
          <% exercises.each do |exercise| %>
            <% if profile.access?(exercise) %>
              <a href="/exercises/<%= exercise.key %>">
                <%= exercise.problem.name %>
              </a>
            <% else %>
            <i class="fa fa-lock"></i>
              &nbsp;
              <a href="/exercises/<%= exercise.track_id %>/<%= exercise.slug %>">
                <%= exercise.problem.name %>
              </a>
            <% end %>
            <%= ", " unless exercise == exercises.last %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
