<div class="track-info col-xs-4 col-sm-4 col-md-4 col-lg-4">
  <%= track_icon(track_info.track.id, '60') %>
  <div class="track-text">
    <h5><%= track_info.track.language %></h5>
    <% if track_info.completed? %>
      <p>Completed: <%= track_info.completed %> <%= 'Problem'.pluralize(track_info.completed) %></p>
    <% end %>
    <% if track_info.reviewed? %>
      <p>Reviewed: <%= track_info.reviewed %> <%= 'Iteration'.pluralize(track_info.reviewed) %></p>
    <% end %>
  </div>
</div>
