<div class="container">
  <section class="row page-header">
    <div class="col-md-1 main-profile-img"><%= gravatar_tag profile.user.avatar_url, size: 90 %></div>
    <div class="col-md-11 main-profile-name"><h1><%= profile.username %></h1></div>
  </section>

  <div class="row">
    <div class="col-md-12">
      <p>
      GitHub Profile:
      <a target="_blank" href="https://github.com/<%= profile.username %>">
        <%= profile.username %>
      </a>
      </p>
      Teams:
      <% profile.teams.each do |team| %>
        <% if team.includes?(profile.current_user) %>
          <a href=<%= "teams/#{team.slug}" %>><%= team.name %></a><%="," unless team == profile.teams.last %>
      <% else %>
        <%= team.name %><%="," unless team == profile.teams.last %>
      <% end %>
    <% end %>

    <%= erb :"user/_tracks_progress", locals: { user_tracks_summary: profile.user_tracks_summary } %>

    <% if profile.finished_tracks.any? && profile.own? %>
      <h3>Contribute:</h3>
      <h4>You've completed the following tracks. Want to help add more exercises?</h4>
      <ul>
        <% profile.finished_tracks.each do |track| %>
          <li><a href="/languages/<%= track.id %>/contribute" target='_blank'><%= track.language %></a></li>
        <% end %>
      </ul>
    <% end %>
    <h3>Exercises</h3>
    <h4>Current</h4>
    <% if profile.has_current_exercises? %>
      <%= erb :"user/_exercises_table", locals: { profile: profile, exercises: profile.exercises.current } %>
    <% else %>
      <p>No current exercises.</p>
    <% end %>

    <br>

    <h4>Archived</h4>
    <p>Archive exercises if you're finished and don't want any more feedback at the moment.</p>
    <p>You can re-activate an exercise from the submission page.</p>
    <% if profile.has_archived_exercises? %>
      <%= erb :"user/_archived_exercises_table", locals: { profile: profile } %>
    <% else %>
      <p>No archived exercises.</p>
    <% end %>

    <hr>

    <p><i class="fa fa-lock"></i> Exercises that you do not yet have access to are marked with a lock. These will show the README/test suite for the exercise.</p>
    <p>You can gain access to a problem by fetching it (e.g. <code>exercism fetch python etl</code>) and submitting a solution.</p>

    </div>
  </div>
</div>
