<div class="container">
  <section class="page-header">
  <h1><%= profile.username %></h1>
  </section>

  <div class="row">
    <div class="col-md-12">
      <p>
      GitHub Profile:
      <a target="_blank" href="https://github.com/<%= profile.username %>">
        <%= profile.username %>
      </a>
      </p>
      Teams:
      <% profile.teams.each do |team| %>
        <% if team.includes?(profile.current_user) %>
          <a href=<%= "teams/#{team.slug}" %>><%= team.name %></a><%="," unless team == profile.teams.last %>
        <% else %>
          <%= team.name %><%="," unless team == profile.teams.last %>
        <% end %>
      <% end %>
      
      <% if !profile.progress_hash.empty? %>
        <h3>Progress:</h3>
        <% if params[:all] == 'true' %>
          <%= erb :"user/_exercise_progress", locals: { progress: profile.progress_hash } %>
          <a class="btn btn-success" href="/<%= profile.username %>?all=false"> Fewer Languages </a>
        <% else %>
          <%= erb :"user/_exercise_progress", locals: { progress: [profile.progress_hash.first] } %>
          <% if profile.progress_hash.count > 1 %>
            <a class="btn btn-success" href="/<%= profile.username %>?all=true"> More Languages </a>
          <% end %>
        <% end %>
      <% end %>
      <h3>Exercises</h3>
      <h4>Current</h4>
      <% if profile.has_current_exercises? %>
        <%= erb :"user/_exercises_table", locals: { profile: profile, exercises: profile.exercises.current } %>
      <% else %>
        <p>No current exercises.</p>
      <% end %>

      <br>

      <h4>Archived</h4>
      <% if profile.has_archived_exercises? %>
        <%= erb :"user/_archived_exercises_table", locals: { profile: profile } %>
      <% else %>
        <p>No archived exercises.</p>
      <% end %>

      <hr>

      <p><i class="fa fa-lock"></i> Exercises that you do not yet have access to are marked with a lock. These will show the README/test suite for the exercise.</p>
      <p>You can gain access to a problem by fetching it (e.g. <code>exercism fetch python etl</code>) and submitting a solution.</p>

    </div>
  </div>
</div>
