%section.main
  %h1= team.name

  %ul
    - team.members.each do |member|
      %li.team-member{:"data-username" => member.username}
        %a{href: '#'}= member.username

    - team.members.each do |member|
      .related-exercises.current.exercises{class: member.username}
        %h3= member.username
        %p
          %a{href: link_to("/#{member.username}/profile")} view profile
        %ul
          - member.exercises.active.each do |exercise|
            %li
              = exercise.language
              = exercise.slug
