#content-first
  %article.first.last
    .container.container-narrow
      .section-toggle
        %h3 Account Settings
        .profile
          %p
            GitHub Profile:
            %a.highlight{:href => account.github_url}= account.username
          %p
            Api Key:
            = account.api_key
          %p.fineprint.info
            The following email address will be used to send you notifications.
            %br/
            If you do not want notifications, delete your email address
            %br/
            and click update.
          %form.form{:name => "update-email"}
            %input{:name => "email", :type => "text", :value => account.email}/
            %input.btn.btn-link.btn-submit{:type => "submit", :value => "Update"}/
      .section-account.section-toggle
        %h3 Nitpicks
        %p
          %a{:href => "#"} View Nits I've left
      .section-account.section-toggle
        %h3
          Manage Teams
          %a.toggle{:href => "javascript:;"} -
        %ul.nav.nav-list.tree.regular.unstyled.toggle-content
          - account.teams.each do |team|
            %li
              %a{:href => "#"}= team.name
          %li
            %a.highlight.toggle-add-team{:href => "javascript:;"} + Add Team
            %form.form.form-add-team.clearfix.hide-elem{:name => "add-team"}
              %input{:name => "team[name]", :type => "text", :placeholder => "Team Name"}/
              %textarea{:name => "team[members]", :placeholder => "username1, username2"}
              %input.btn.btn-link.btn-submit{:type => "submit", :value => "Add Team"}/
      .section-account.section-toggle
        %h3
          Completed
          %a.toggle{:href => "javascript:;"} -
        .row.unstyled.blocks-grid.toggle-content
          - account.completed_in_tracks.each do |track|
            .col-md-4.completed.exercises.truncate
              %h4{:class => track.language}= track.name
              %ul
                - track.exercises.each do |exercise|
                  %li
                    %a{:href => link_to(exercise.url)}= exercise.name
