%h1= team.name

.row.unstyled.blocks-grid.toggle-content
  .col-md-4
    %ul
      - team.members.each do |member|
        %li.team-member{:"data-username" => member.username}
          %a{href: '#'}= member.username

  .col-md-4
    - team.members.each do |member|
      .related-exercises.current.exercises{class: member.username}
        %h3= member.username
        %p
          %a{href: link_to("/#{member.username}/profile")} profile
        %ul
          - member.exercises.active.each do |exercise|
            %li
              = exercise.language
              = exercise.slug
