<h1>Your Account</h1>

<p>You can always get back to this page by clicking your username in the navigation bar.</p>

<p>You can update your <%= gravatar_tag current_user.email, :size => 20 %> Gravatar on <a href="http://www.gravatar.com/">the Gravatar website.</a></p>

<% unless unstarted.empty? %>
  <h2>Unstarted Trails</h2>
  <p>Warning: The JavaScript trail is basically a placeholder to prove to ourselves that we can do multiple trails simultaneously. It currently only has a single exercise in it. If you do the exercise we'll start you on the next one at that time.</p>
  <% unstarted.each do |language| %>
    <form action="/user/<%= language %>/start" method="POST">
      <input type="submit" value="start <%= language %>" />
    </form>
  <% end %>
<% end %>

<h2>Get the gem</h2>
<pre>
  $ gem install exercism
</pre>

<h3>Login</h3>

<p>Your credentials get saved in a config file in your home directory: <kbd>.exercism</kbd>.</p>

<pre>
  $ exercism login
  Your GitHub username: <%= current_user.username %>
  Your exercism.io API key: <%= current_user.key %>
  What is your exercism project_path? (/your/project/path)
</pre>

<p>If the path in parentheses is a good project path, just hit enter. It uses the current directory as the default suggestion.</p>

<p>If you mess up your login, you can either edit the config file at <kbd>~/.exercism</kbd> or say <kbd>exercism logout</kbd> and then try again.</p>

<h3>Get the code</h3>

<pre>
  $ cd projects/exercises # or whatever
  $ exercism fetch
</pre>

<h3>Submit the assignment</h3>

<pre>
  $ exercism submit yourcode.rb
</pre>
