<div class="row">
  <div class="span8">

    <h1>Your Account</h1>

    <p>You can always get back to this page by clicking your username in the navigation bar.</p>

    <p>You can update your <%= gravatar_tag current_user.avatar_url %> Gravatar on
      <a href="http://www.gravatar.com/">the Gravatar website.</a></p>

    <p>
      The following email address will be used to send you notifications. If you do not want notifications, delete your email address and click update.
      <form action="/account/email" method="post">
        <input type="hidden" name="_method" value="put" />
        <div class="input-append">
          <input type="email" id="email" name="email" placeholder="Email" value="<%= current_user.email %>" />
          <input type="submit" name="update" value="Update" class="btn" />
        </div>
      </form>
    </p>

    <%= erb :"setup/getting_started" %>

    <h2>Language-specific Setup</h2>

    <div class="accordion" id="setup_accordion">
      <% [:ruby, :javascript, :elixir, :clojure, :python].each do |language| %>
        <%= erb :"setup_accordion", locals: { language: language } %>
      <% end %>
    </div>
  </div>

  <div class="span4">
    <p><a href="/#{current_user.username}">Submission History</a></p>
    <dl>
      <dt>Api key:</dt>
      <dd><%= current_user.key %></dd>
    </dl>

    <%= erb :"setup/unstarted_trails" %>

  </div>
</div>
