<div class="row">
  <div class="span8">

    <h1>Your Account</h1>

    <p>You can always get back to this page by clicking your username in the navigation bar.</p>

    <p>You can update your <%= gravatar_tag current_user.avatar_url %> Gravatar on
      <a href="http://www.gravatar.com/">the Gravatar website.</a></p>

    <p>
      The following email address will be used to send you notifications. If you do not want notifications, delete your email address and click update.
      <form action="/account/email" method="post">
        <input type="hidden" name="_method" value="put" />
        <div class="input-append">
          <input type="email" id="email" name="email" placeholder="Email" value="<%= current_user.email %>" />
          <input type="submit" name="update" value="Update" class="btn" />
        </div>
      </form>
    </p>

    <h2>Setup</h2>

    <h3>Start a trail</h3>

    <p>Pick one or more of the available languages.</p>

    <h3>Install the gem</h3>

    <pre>
      $ gem install exercism
    </pre>

    <h3>Login</h3>

    <p>Your credentials get saved in a config file in your home directory: <kbd>.exercism</kbd>.</p>

    <pre>
      $ exercism login
      Your GitHub username: <%= current_user.username %>
      Your exercism.io API key: <%= current_user.key %>
      What is your exercism exercises project path? (/your/project/path)
    </pre>

    <p>If the path in parentheses is a good project path, just hit enter. It uses the current directory as the default
      suggestion.</p>

    <p>If you mess up your login, you can either edit the config file at <kbd>~/.exercism</kbd> or say
      <kbd>exercism logout</kbd> and then try again.</p>

    <h3>Get the code</h3>

    <pre>
      $ cd projects/exercises # or whatever
      $ exercism fetch
    </pre>

    <h3>Submit the assignment</h3>

    <pre>
      $ exercism submit yourcode.rb
    </pre>

    <h2>Language-specific Setup</h2>

    <h3>Ruby</h3>

    <h4>Installation: </h4>
    <ul>
      <li>Install ruby. (Should we suggest `ruby-build`? `rvm`?)</li>
    </ul>

    <h4>Running Tests: </h4>
    <p>Execute the tests with:</p>

    <pre>$ ruby bob_test.rb</pre>

    <h3>JavaScript</h3>

    <h4>Installation: </h4>

    <ul>
      <li>
        Install <a href="http://nodejs.org/">Node.js</a>
        <ul>
          <li>
            Homebrew for Mac OS X
            <ul>
              <li>Install node with <code>brew install node</code></li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        Install <a href="https://github.com/mhevery/jasmine-node">jasmine-node</a> with
        <code>npm install jasmine-node</code>
      </li>
    </ul>

    <p>
      Update your <code>PATH</code> to include the npm binaries. Add the
      following to either <code>~/.bash_profile</code> or <code>~/.zshrc</code>
    </p>

    <pre>$ export PATH=/usr/local/share/npm/bin:$PATH</pre>

    <h4>Running tests: </h4>
    <p>Execute the tests with:</p>

    <pre>$ jasmine-node bob_test.spec.js</pre>

    <p>
      In order for the tests to run, your code need to expose a CommonJS module. This also means that it's not necessary to worry about things leaking into global scope.
    </p>

    <h3>Elixir</h3>

    <h4>Installation:</h4>

    <ul>
      <li>
        Homebrew for Mac OS X
        <ul>
          <li>Since Elixir requires Erlang R16B, first call <code>brew tap homebrew/versions</code> and then
            <code>brew install erlang-r16</code></li>
          <li>If you have a previous Erlang version installed, unlink it with <code>brew uninstall erlang</code> and
            link the new one with <code>brew link erlang-r16</code></li>
          <li>Update your homebrew to latest: <code>brew update</code></li>
          <li>Install Elixir: <code>brew install elixir</code></li>
        </ul>
      </li>
      <li>Fedora 17+ and Fedora Rawhide: <code>sudo yum -y install elixir</code></li>
      <li>Arch Linux : Elixir is available on AUR via <code>yaourt -S elixir</code></li>
      <li>Other: Get <a href="http://www.erlang.org/download.html">Erlang R16B</a>, then download a
        <a href="https://github.com/elixir-lang/elixir/releases/">precompiled package</a></li>
    </ul>

    <h4>Running tests:</h4>

    <pre>$ elixir bob_test.exs</pre>

    <h3>Clojure</h3>

    <h4>Installation:</h4>

    <ul>
      <li>
        Homebrew for Mac OS X
        <ul>
          <li>Update your homebrew to latest: <code>brew update</code></li>
          <li>Install Clojure: <code>brew install clojure</code></li>
        </ul>
      </li>
      <li>
        Other
        <ul>
          <li>Download the latest table release jar file <a href="http://clojure.org/downloads">Clojure-1.5.1</a></li>
        </ul>
      </li>
    </ul>

    <h4>Running tests:</h4>
    <p>If installed with homebrew: </p>
    <pre>$ clj bob_test.clj</pre>

    <p>If jar file downloaded, assuming <code>clojure-1.5.1.jar</code></p>
    <pre>$ java -cp clojure-1.5.1.jar clojure.main bob_test.clj</pre>
  </div>

  <div class="span4">
    <dl>
      <dt>Api key:</dt>
      <dd><%= current_user.key %></dd>
    </dl>

    <% unless unstarted.empty? %>
        <h2>Unstarted Trails</h2>
        <% unstarted.each do |language| %>
            <form action="/user/<%= language %>/start" method="POST">
              <input type="submit" value="start <%= language %>" class="btn btn-primary btn-success"/>
            </form>
        <% end %>
    <% end %>
  </div>
</div>
