<% if completed && !completed.empty? %>
  <h2>Completed Work</h2>
  <% completed.each do |work| %>
    <div>
      <%= work.language %>: <%= work.slug %>
      <% if work.submitted? %>
        <a href="/user/<%= work.language %>/<%= work.slug %>">view</a>
      <% elsif work.slug == 'congratulations' %>
        That's it. No more assignments on <%= work.language %>.
      <% end %>
    </div>
  <% end %>
<% end %>

