<% if completed && !completed.empty? %>
  <h2>Completed</h2>
  <% completed.each do |work| %>
    <div>
      <% if work.submitted? %>
        <%= language_icon(work.language) %>
        <a href="/<%= current_user.username %>/<%= work.language %>/<%= work.slug %>">
          <h4 style="display: inline"><%= work.slug %></h4></a>
      <% elsif work.slug == 'congratulations' %>
        <%= language_icon(work.language) %>
        <span class="label label-info">No more Assignments</span>
      <% end %>
    </div>
  <% end %>
<% end %>

