<% if completed && !completed.empty? %>
  <h2>Completed</h2>
  <% completed.each do |work| %>
    <div>
      <% if work.submitted? %>
        <a href="/user/<%= work.language %>/<%= work.slug %>">
          <h4 style="display: inline"><%= work.slug %></h4></a>
        <div class="language circle <%= work.language %>-icon">&nbsp;</div>
      <% elsif work.slug == 'congratulations' %>
        <div class="language circle <%= work.language %>-icon">&nbsp;</div>
        <span class="label label-info">No more Assignments</span>
      <% end %>
    </div>
  <% end %>
<% end %>

