<h1>Curriculum</h1>

<ul class="nav nav-tabs">
  <% languages.each do |language| %>
    <% css_class = (language == trail.locale.language.to_sym ? 'active' : '') %>
    <li class="<%= css_class %>">
      <a href="/curriculum/<%= language %>"><%= language %></a>
    </li>
  <% end %>
</ul>

<h2>Exercises</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Pending Submissions</th>
      <th>Superseded Submissions</th>
      <th>Completed Submissions</th>
      <th>Nitpicks</th>
    </tr>
  </thead>
  <tbody>
  <% trail.exercises.each do |exercise| %>
    <% summary = progress[exercise.slug.to_s] || {} %>
    <tr>
      <td>
        <a href="/submissions/<%= trail.locale.language %>/<%= exercise.slug %>"><%= exercise.slug %></a>
      </td>
      <td><%= quantify summary['pending'] %></td>
      <td><%= quantify summary['superseded'] %></td>
      <td><%= quantify summary['done'] %></td>
      <td><%= quantify summary['nits'] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
