<div class="row">

  <aside class="span4">
    <nav>
      <ul class="nav nav-tabs nav-stacked">
        <% if language %>
          <% if exercises.any? %>
            <%= dashboard_assignment_nav(language, 'featured') %>
            <%= dashboard_assignment_nav(language, 'opinions') %>
            <%= dashboard_assignment_nav(language, 'looks-great') %>
            <% exercises.each do |exercise| %>
              <%= dashboard_assignment_nav(language, exercise.slug, breakdown[exercise]) %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </nav>
    </br>
    <div class="sidebar-panel">
      <p>Read about <a href="/cycle">the feedback cycle</a>.</p>

      <% if current_user.nitpicker? %>
        <p>Read about <a href="/nitpick">how to nitpick</a></p>
      <% end %>
    </div>

  </aside>
  <main id="pending-submissions" class="span8">
  <% if welcome %>
    <%= md(File.read('./lib/app/views/welcome.md')) %>
  <% elsif show_pending_submissions?(language) %>
    <%= erb :pending, locals: {submissions: submissions, show_filters: show_filters} %>
    <% elsif language && current_user.submissions.where(language: language).count > 0 %>
    <%= erb :"about/welcome" %>
  <% else %>
    <%= erb :about, locals: {language: language, unstarted: unstarted_trails} %>
  <% end %>
  </main>
</div>
