<% current_user.current_submissions.each do |submission| %>
  <div class="span4">
    <%= submission.language %>: <%= submission.slug %> (<%= submission.nits.count %>) <a href="/user/submissions/<%= submission.id %>">view</a>
  </div>
<% end %>
<% unstarted = Exercism.current_curriculum.unstarted_trails(current_user.current_languages) %>
<% unstarted.each do |language| %>
<form action="/user/<%= language %>/start" method="POST">
  <input type="submit" value="start <%= language %>" />
</form>
<% end %>

