<div class="container">
  <% if dashboard.pay_it_forward? %>
    <div class="col-lg-12">
      <h2>Have a moment?</h2>
      <span>Help <b>@<%= dashboard.suggestion.user.username %></b> by providing some feedback on their solution to <a href="/submissions/<%= dashboard.suggestion.key %>"><%= dashboard.suggestion.slug %> in <%= dashboard.suggestion.language.capitalize %></a>.</span>
    </div>
  <% end %>
  
  <% if dashboard.has_activity? %>
    <div class="col-lg-6">
      <h2>Activity</h2>
      <ul style="list-style-type: none; margin: 0;">
        <% dashboard.notifications.each do |notification| %>
          <% if notification.item %>
            <li style="padding: 5px 0;">
              <span style="padding-right: 5px;" class="icon-comment-alt"></span>

              <a href="/submissions/<%= notification.item.key %>">
                <%= notification.slug %>
              </a> in <%= notification.language %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-lg-6">
    <h2>Currently Trending</h2>
    <ul class="nav nav-stacked" id="menu-current" role="menu">
      <% dashboard.trending.each do |trending| %>
      <li class="looks-list-item">
        <a role="menuitem" tabindex="-1" href="/submissions/<%= trending.key %>">
          <%= trending.problem.language + ' ' + trending.problem.name + ' by @' + trending.username %>
        </a>
      <% end %>
    </ul>
  </div>
  <% if current_user.ongoing.any? %>
    <div class="col-lg-6">
      <h2>Current Exercises</h2>
      <ul class="nav nav-stacked" id="menu-current" role="menu">
        <% current_user.ongoing.each do |submission| %>
          <li class="looks-list-item">
            <a role="menuitem" tabindex="-1" href="/submissions/<%= submission.key %>">
              <%= submission.problem.language + ' ' + submission.problem.name %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-lg-6">
    <h2>History</h2>
    <p class="well">See a list of exercises that you <a href="/looks">recently viewed</a>.</p>
  </div>

  <div class="col-lg-6">
    <h2>Improvements</h2>
    <p>The dashboard could use a little love. What do you want to see here? If you have ideas or suggestions, please let us know in this <a href="https://github.com/exercism/exercism.io/issues/1654">GitHub issue</a>.</p>
  </div>
</div>
