<% current_user.ongoing.each do |work| %>
  <div class="span4">
    <%= work.language %>: <%= work.slug %>
    <% if work.submitted? %>
      (<%= work.nits.count %>) <a href="/user/submissions/<%= work.id %>">view</a>
    <% else %>
      You haven't submitted anything on this yet.
    <% end %>
  </div>
<% end %>
<% unstarted = Exercism.current_curriculum.unstarted_trails(current_user.current_languages) %>
<% unstarted.each do |language| %>
<form action="/user/<%= language %>/start" method="POST">
  <input type="submit" value="start <%= language %>" />
</form>
<% end %>

<div class="span3">
  <%= erb :pending, locals: {pending: pending} %>
</div>
