<div class="row">

  <aside class="span4">
    <nav>
      <ul class="nav nav-tabs nav-stacked">
        <% if language %>
          <% if exercises.any? %>
            <%= dashboard_assignment_nav(language, 'no-nits') %>
            <%= dashboard_assignment_nav(language, 'opinions') %>
            <%= dashboard_assignment_nav(language, 'looks-great') %>
            <% exercises.each do |exercise| %>
              <%= dashboard_assignment_nav(language, exercise.slug, breakdown[exercise]) %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </nav>
    </br>
  </aside>

  <main id="pending-submissions" class="span8">
  <% if show_pending_submissions?(language) %>
    <%= erb :pending, locals: {submissions: submissions, show_filters: show_filters, language: language} %>
  <% else %>
    <%= erb :setup %>
  <% end %>
  </main>
</div>
