<div class="row">

  <aside class="span4">
    <nav>
      <ul class="nav nav-tabs nav-stacked">
        <% if language %>
          <%= dashboard_assignment_nav(language) %>
          <% exercises_available_for(language).each do |exercise| %>
            <%= dashboard_assignment_nav(language, exercise.slug) %>
          <% end %>
        <% end %>
      </ul>
    </nav>
    <%= erb :ongoing_assignments, locals: {ongoing: current_user.ongoing} %>
    <%= erb :completed_assignments, locals: {completed: current_user.done } %>
    </br>
    <div class="sidebar-panel">
      <p>Read about <a href="/cycle">the feedback cycle</a>.</p>

      <% if current_user.nitpicker? %>
        <p>Read about <a href="/nitpick">how to nitpick</a></p>
      <% end %>
    </div>

  </aside>
  <main class="span8">
    <% if !current_user.admin? && current_user.completed.empty? %>
      <%= erb :about %>
    <% else %>
      <%= erb :pending, locals: {submissions: submissions, filters: filters, exercise: exercise} %>
    <% end %>
  </main>
</div>
