<div class="container">
  <div class="row">
    <br>
    <aside class="col-md-4">
      <nav class="inbox">
        <ul class="nav nav-stacked nav-bordered">
          <% inbox.tracks.each do |track|%>
          <li class="<%= 'active' if track.id==inbox.track_id %>">
            <a href="/tracks/<%= track.id %>/exercises">
              <%= track.name %>
              <span class="total-count">
                <%= track.total %>
              </span>
            </a>
            <span class="badge unread-count">
              <%= track.unread %>
            </span>
          </li>
          <% end %>
        </ul>
        <br>
        <h3><%= inbox.language %></h3>
        <ul class="nav nav-stacked nav-bordered">
          <% inbox.problems.each do |problem|%>
          <li class="<%= 'active' if problem.slug==inbox.slug %>">
            <a href="/tracks/<%= inbox.track_id %>/exercises/<%= problem.slug %>">
              <%= problem.name %>
              <span class="total-count">
                <%= problem.total %>
              </span>
            </a>
            <span class="badge unread-count">
              <%= problem.unread %>
            </span>
          </li>
          <% end %>
        </ul>

      </nav>
      <br>
    </aside>

    <main id="track-exercises" class="col-md-8">

      <h2><%= inbox.title %></h2>

      <% if inbox.exercises.any? %>
        <ul class="active-exercises">
          <% inbox.exercises.each do |exercise| %>
          <li class="<%= 'unread' if exercise.unread %>">
            <div class="col-md-10">
              <img src="<%= exercise.avatar_url%>" width="40" height="40" alt="" class="avatar">

              <a href="/exercises/<%= exercise.uuid %>" class="exercise">
                <h4>
                  <%= exercise.problem.name %>
                  <span class="profile"> <%= exercise.username %> </span>
                </h4>
                <p>Last activity <%= ago(exercise.at) %></p>
              </a>
            </div>
            <div class="col-md-2">
              <% if exercise.unread %>
              <form action="/exercises/<%= exercise.uuid %>/views" method="POST">
                <button type="submit" class="btn btn-link">mark as read</button>
              </form>
              <% end %>
            </div>
          </li>
          <% end %>
        </ul>
      <% end %>

      <div class="pagination">
        <%= will_paginate inbox.pagination, renderer: BootstrapPagination::Sinatra %>
      </div>
    </main>
  </div>
</div>
