<div class="container">
  <div class="row">
    <br>
    <aside class="col-md-4">
      <nav class="inbox">
        <ul class="nav nav-stacked nav-bordered">
          <% inbox.tracks.each do |track|%>
          <li class="<%= 'active' if track.id==inbox.track_id %>">
            <a href="/tracks/<%= track.id %>/exercises">
              <%= track.name %>
              <span class="total-count">
                <%= track.total %>
              </span>
            </a>
            <% if track.unread > 0 %>
            <span class="badge unread-count">
              <%= track.unread %>
            </span>
            <% end %>
          </li>
          <% end %>
        </ul>
        <br>

        <% if inbox.problems.size > 1 %>
          <ul class="nav nav-stacked nav-bordered">
            <% inbox.problems.each do |problem|%>
            <li class="<%= 'active' if problem.slug==inbox.slug %>">
              <a href="/tracks/<%= inbox.track_id %>/exercises/<%= problem.slug %>">
                <%= problem.name %>
                <span class="total-count">
                  <%= problem.total %>
                </span>
              </a>
              <% if problem.unread > 0 %>
              <span class="badge unread-count">
                <%= problem.unread %>
              </span>
              <% end %>
            </li>
            <% end %>
          </ul>
        <% end %>

      </nav>
      <br>
    </aside>

    <main id="track-exercises" class="col-md-8">

      <form action="/tracks/<%= inbox.track_id %>/views/<%= inbox.slug %>" method="POST" class="mark-all">
        <button type="submit" class="btn btn-link discrete">mark all as read</button>
      </form>
      <h2><%= inbox.title %></h2>

      <% if inbox.exercises.any? %>
        <ul class="active-exercises">
          <% inbox.exercises.each do |exercise| %>
          <li class="<%= 'unread' if exercise.unread %>">
            <span class="col-md-10">
              <img src="<%= exercise.avatar_url%>" width="60" height="60" alt="" class="avatar">

              <a href="/exercises/<%= exercise.uuid %>" class="exercise">
                <h4>
                  <%= exercise.problem.name %>
                  <span class="profile"> <%= exercise.username %> </span>
                </h4>
                <p>
                  <%= exercise.iteration_count %> <%= "iteration".pluralize(exercise.iteration_count) %>
                  &middot;
                  <%= exercise.comment_count %> <%= "comments".pluralize(exercise.comment_count) %>
                </p>
                <p><%= [exercise.last_activity, ago(exercise.at)].join(" ") %></p>
              </a>
            </span>
            <span class="col-md-2">
              <% if exercise.unread %>
              <form action="/exercises/<%= exercise.uuid %>/views" method="POST">
                <button type="submit" class="btn btn-link discrete">mark as read</button>
              </form>
              <% end %>
            </span>
          </li>
          <% end %>
        </ul>
      <% end %>

      <div class="pagination">
        <%= will_paginate inbox.pagination, renderer: BootstrapPagination::Sinatra %>
      </div>
    </main>
  </div>
</div>
