<div class="container">
  <div class="row">
    <br>
    <aside class="col-md-4">
      <nav class="inbox">
        <ul class="nav nav-stacked nav-bordered">
          <% inbox.tracks.each do |track|%>
          <li class="<%= 'active' if track.id==inbox.track_id %>">
            <a href="/tracks/<%= track.id %>/exercises">
              <%= track.name %>
              <span class="total-count">
                <%= track.total %>
              </span>
            </a>
            <span class="badge unread-count">
              <%= track.unread %>
            </span>
          </li>
          <% end %>
        </ul>
        <br>
        <h3><%= inbox.language %></h3>
        <ul class="nav nav-stacked nav-bordered">
          <% inbox.problems.each do |problem|%>
          <li class="<%= 'active' if problem.slug==inbox.slug %>">
            <a href="/tracks/<%= inbox.track_id %>/exercises/<%= problem.slug %>">
              <%= problem.name %>
              <span class="total-count">
                <%= problem.total %>
              </span>
            </a>
            <span class="badge unread-count">
              <%= problem.unread %>
            </span>
          </li>
          <% end %>
        </ul>

      </nav>
      <br>
    </aside>

    <main id="track-exercises" class="col-md-8">

      <h2><%= inbox.title %></h2>

      <% if inbox.exercises.any? %>
        <ul class="active-exercises">
          <% inbox.exercises.each do |exercise| %>
          <li class="<%= 'unread' if exercise.unread %>">
            <img src="<%= exercise.avatar_url%>" width="20" height="20" alt="">
            <a href="/exercises/<%= exercise.uuid %>" style="color: #000; <%= 'font-weight: bold' if exercise.unread %>">
              <%= exercise.problem.name %>
            </a> by
            <a href="/<%= exercise.username %>">
              <%= exercise.username %>
            </a>
          </li>
          <% end %>
        </ul>
      <% end %>

      <div class="pagination">
        <%= will_paginate inbox.pagination %>
      </div>
    </main>
  </div>
</div>
