!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Exercism Redesign
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", :rel => "stylesheet"}/
    %link{:href => link_to("/css/app.css?v=2"), :rel => "stylesheet"}/
    %link{:href => link_to("/icons/favicon.ico?v=4"), :rel => "shortcut icon"}/
  %body
    /[if lt IE 7]
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>


    .navbar.navbar-static-top
      .navbar-inner
        %a.brand{href: '/'}
          %img{width: '25', src: link_to('/img/e.png')}
        = erb :nav

    - [:notice, :error, :alert, :success].each do |level|
      - unless flash[level].blank?
        .alert{class: "alert-#{level} aler--fixed-width"}
          %a.close{:href => '#', "data-dismiss" => 'alert'} x
          = flash[level]

    .container
      = yield

    = haml :"layout/footer", locals: {email: 'kytrinyx@exercism.io'}

    :javascript
      document.getElementById('sidebar_toggle').addEventListener('click', function(e) {
        e.preventDefault()
        document.body.classList.toggle('sidebar--closed')
      })

    %script{:src => link_to("/js/app.js")}

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47528450-1', 'exercism.io');
      ga('send', 'pageview');
