<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title><%= title %></title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='' name='description'>
    <meta content='' name='author'>
    <link href='/ico/favicon.png' rel='shortcut icon'>
    <% if ENV['RACK_ENV'].to_sym == :production %>
        <link href='/css/app.min.css' rel='stylesheet'>
    <% else %>
        <link href='/css/app.css' rel='stylesheet'>
    <% end %>
  </head>
  <body>
    <% unless current_user.guest? %>
      <div id="toggle-notifications"></div>
    <% end %>
    <div class='navbar navbar-top'>
      <div class='navbar-inner'>
        <a class='brand' href='/'>exercism.io</a>
        <% unless current_user.guest? %>
          <ul class="nav">
            <%= dashboard_nav_li "Featured" %>
            <%= dashboard_nav_li "Clojure" %>
            <%= dashboard_nav_li "Elixir" %>
            <%= dashboard_nav_li "JavaScript" %>
            <%= dashboard_nav_li "Ruby" %>
          </ul>
        <% end %>
        <ul class="nav pull-right">
          <% if current_user.guest? %>
            <li><a href="/login">log in with github</a></li>
            <%= erb :backdoor %>
          <% else %>
            <li>
              <a href="/account">
                <%= gravatar_tag current_user.avatar_url, size: 20 %>
                hi, <%= current_user.username %>
              </a>
            </li>
            <li><a href="/logout">log out</a></li>
          <% end %>
        </ul>
      </div>
    </div>

    <% [:notice, :error, :alert].each do |level| %>
      <% unless flash[level].blank? %>
        <div class="alert <%= level.to_s %>">
          <a class="close" href="#">×</a>
          <p><%= flash[level] %></p>
        </div>
      <% end %>
    <% end %>

    <div class='container'>
      <%= yield %>
    </div>
    <div class='container'>
      <hr>
      <footer>
      <p>&copy; <%= Date.today.year %> Katrina Owen</p>
      <p>Source: <a href="https://github.com/kytrinyx/exercism.io">github.com/kytrinyx/exercism.io</a>. Report bugs and submit feedback <a href="https://github.com/kytrinyx/exercism.io/issues">on GitHub</a>.</p>
      </footer>
    </div>
    <div id="list-notifications"></div>
    <% if ENV['RACK_ENV'].to_sym == :production %>
      <script src="/js/app.min.js"></script>
    <% else %>
      <script src="/js/app.js"></script>
    <% end %>
  </body>
</html>
