<!DOCTYPE html>
<html lang='en' ng-app="exercism">
  <head>
    <meta charset='utf-8'>
    <title><%= title %></title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='' name='description'>
    <meta content='' name='author'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href='/ico/favicon.png' rel='shortcut icon'>
    <link href='/css/app.css' rel='stylesheet'>
  </head>
  <body>
    <% unless current_user.guest? %>
      <div id="toggle-notifications"></div>
    <% end %>

    <div class='navbar navbar-top'>
      <div class='navbar-inner'>
        <a class='brand' href='/'>exercism.io</a>
        <%= erb :nav %>
      </div>
    </div>

    <% [:notice, :error, :alert, :success].each do |level| %>
      <% unless flash[level].blank? %>
        <div class="alert alert-<%= level.to_s %> alert--fixed-width">
          <a class="close" href="#" data-dismiss="alert">×</a>
          <%= flash[level] %>
        </div>
      <% end %>
    <% end %>

    <div class='container'>
      <%= yield %>
    </div>
    <div class='container'>
      <hr>
      <footer>
      <p>&copy; <%= Date.today.year %> Katrina Owen</p>
      <p>Source: <a href="https://github.com/kytrinyx/exercism.io">github.com/kytrinyx/exercism.io</a>. Report bugs and submit feedback <a href="https://github.com/kytrinyx/exercism.io/issues">on GitHub</a>.</p>
      </footer>
    </div>
    <div id="list-notifications"></div>
    <script src="/js/app.js"></script>
  </body>
</html>
