<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>exercism.io</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='' name='description'>
    <meta content='' name='author'>
    <link href='/ico/favicon.png' rel='shortcut icon'>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href='/css/pygments.css' rel='stylesheet'>
    <link href='/css/style.css' rel='stylesheet'>
  </head>
  <body>
    <div class='navbar navbar-top'>
      <div class='navbar-inner'>
        <a class='brand' href='/'>exercism.io</a>
        <ul class="nav pull-right">
          <% if current_user.guest? %>
            <li><a href="/login">log in with github</a></li>
            <%= erb :backdoor %>
          <% else %>
            <li>
              <a href="/account">
                <%= gravatar_tag current_user.avatar_url %>
                hi, <%= current_user.username %>
              </a>
            </li>
            <li><a href="/logout">log out</a></li>
          <% end %>
        </ul>
      </div>
    </div>

    <% [:notice, :error, :alert].each do |level| %>
      <% unless flash[level].blank? %>
        <div class="alert <%= level.to_s %>">
          <a class="close" href="#">×</a>
          <p><%= flash[level] %></p>
        </div>
      <% end %>
    <% end %>

    <div class='container'>
      <%= yield %>
    </div>
    <div class='container'>
      <hr>
      <footer>
        <p>&copy; Katrina Owen</p>
      </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
