<div class="row">
  <div class="span12">
    <%= erb :byline, locals: {exercise: submission.exercise, user: submission.user} %>
    <p>Submitted <%= ago(submission.at) %>.</p>
    <p>
      Iteration <b><%= submission.version %></b> of <b><%= submission.versions_count %></b>.
      <% if submission.user.completed?(submission.exercise) %>
        This exercise has been thoroughly bikeshedded, and <b><%= submission.user.username %></b> has moved on.
      <% else %>
        This exercise is still in progress.
      <% end %>
    </p>
    <p> View iteration:
      <% submission.related_submissions.each do |related| %>
        <% if related == submission %>
          <span style="padding: 10px;"><%= related.version %></span>
        <% else %>
          <a class="btn btn-default" href="/submissions/<%= related.id %>"> <%= related.version %></a>
        <% end %>
      <% end %>

    </p>
    <p>&laquo; <a href="/<%= [submission.user.username, submission.language, submission.slug].join('/') %>">Submission history</a></p>
  </div>
</div>

<div class="row">

  <%= erb :"code/simple", locals: {
      title: "Code",
      html: { id: "current-submission" },
      code: submission.code,
      language: submission.language
    }
  %>

  <div class="comments span6">
    <% if submission.nits.empty? %>
      <% if current_user.is?(submission.user.username) %>
        <h2>Initial Thoughts</h2>
        <p>Feel free to expound on trade-offs or choices or thoughts about your code.</p>
      <% else %>
        <h2>Provide Feedback</h2>
      <% end %>
    <% else %>
      <h2>Nitpicks</h2>
    <% end %>
    <% submission.nits.each do |nit| %>
    <blockquote><%= md(nit.comment) %>
      <p>
        <cite>
          <%= gravatar_tag nit.user.avatar_url, size: 20 %>
          <em><%= github_profile_link(nit.user) %></em>, <%= ago(nit.at) %>
        </cite>
      </p>
    </blockquote>

      <% unless nit.comments.empty? %>
        <ul>
        <% nit.comments.each do |comment| %>
          <li>
            <%= gravatar_tag comment.user.avatar_url, size: 20 %>
            <%= md(comment.body) %>
            &mdash; <em><%= github_profile_link(comment.user) %></em>, <%= ago(comment.at) %>
          </li>
        <% end %>
        </ul>
      <% end %>

      <form accept-charset="UTF-8" action="/submissions/<%= submission.id %>/nits/<%= nit.id %>/argue" method="POST">
        <textarea name="comment" class="span6" rows="3"></textarea>
        <button type="submit" class="btn">Discuss Nit</button>
      </form>

    <% end %>

    <% if submission.user.completed?(submission.exercise) %>

      <form accept-charset="UTF-8" action="/submissions/<%= submission.id %>/respond" method="POST">
        <textarea name="comment" class="span6" rows="10"></textarea>
        <button type="submit" name="nitpick" class="btn btn-primary">Comment</button>
      </form>

    <% else %>

      <form accept-charset="UTF-8" action="/submissions/<%= submission.id %>/respond" method="POST">
        <textarea name="comment" class="span6" rows="10"></textarea>
        <% if current_user.admin? %>
          <button type="submit" name="approve" class="btn">Unlock Next</button>
          <button type="submit" name="approve" class="btn">Comment &amp; Unlock Next</button>
        <% else %>
          <% unless current_user.is?(submission.user.username) %>
            <button type="submit" name="approvable" class="btn">I think this is done. Unlock the next one!</button>
          <% end %>
        <% end %>
        <button type="submit" name="nitpick" class="btn btn-primary">Nitpick</button>
      </form>

      <% if current_user.is?(submission.user.username) %>
        <% if submission.approvable? %>
          <p>Your submission has been nominated for approval.</p>
        <% else %>
          <p>Your submission is under review.</p>
        <% end %>

        <p>Read about <a href="/cycle">the feedback cycle</a>.</p>
      <% end %>

    <% end %>
  </div>
</div>

