<div class="row">
  <div class="span6">
    <h1><%= submission.slug %></h1>
    <p>by <%= submission.user.username %> in <%= submission.language %></p>
    <p>submitted <%= ago(submission.at) %>
  </div>
  <div class="span6">
    <% if current_user.admin? %>
      <h2>Actions</h2>
      <form accept-charset="UTF-8" action="/submissions/<%= submission.id %>/approve" method="POST">
        <button type="submit" class="btn btn-primary">Approve</button>
      </form>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h2>Code</h2>
    <%= md(submission.code, submission.language) %>
  </div>

  <div class="span6">
    <h2>Nitpicks</h2>
    <% submission.nits.each do |nit| %>
    <blockquote><%= md(nit.comment) %></blockquote>
    <p><cite>by <em><%= nit.user.username %></em>, <%= ago(nit.at) %></cite></p>
    <% end %>
    <form accept-charset="UTF-8" action="/submissions/<%= submission.id %>/nitpick" method="POST">
      <textarea name="comment" class="span6" rows="20"></textarea>
      <button type="submit" class="btn">Nitpick</button>
    </form>
  </div>
</div>
