<div class="row">
  <div class="span6">
    <h1>
      <%= submission.slug %>
      <small>in <%= submission.language %></small>
    </h1>
    <p>
      by <%= gravatar_tag submission.user.email, :size => 20 %>
      <%= submission.user.username %>
    </p>
    <p>submitted <%= ago(submission.at) %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h2>Code</h2>
    <%= md(submission.code, submission.language) %>
  </div>

  <div class="span6">
    <% if submission.nits.empty? %>
      <h2>Provide Feedback</h2>
    <% else %>
      <h2>Nitpicks</h2>
    <% end %>
    <% submission.nits.each do |nit| %>
    <blockquote><%= md(nit.comment) %></blockquote>
    <p><cite>by <em><%= nit.user.username %></em>, <%= ago(nit.at) %></cite></p>
    <% end %>
    <form accept-charset="UTF-8" action="/submissions/<%= submission.id %>/respond" method="POST">
      <textarea name="comment" class="span6" rows="20"></textarea>
      <% if current_user.admin? %>
        <button type="submit" name="approve" class="btn">Approve</button>
        <button type="submit" name="approve" class="btn">Comment &amp; Approve</button>
      <% end %>
      <button type="submit" name="nitpick" class="btn btn-primary">Nitpick</button>
    </form>
  </div>
</div>
