<div class="row">
  <div class="span6">
    <%= erb :byline, locals: {exercise: submission.exercise, user: submission.user} %>
    <p>Submitted <%= ago(submission.at) %>

    <% if submission.approved? %>
      <p>
        Approved by <%= gravatar_tag submission.approver.avatar_url, size: 30 %>
        <%= submission.approver.username %>
      </p>
    <% end %>
    <p>&laquo; <a href="/<%= [submission.user.username, submission.language, submission.slug].join('/') %>">Summary</a></p>
  </div>
</div>

<div class="row">

  <%= erb :"code/simple", locals: { title: "Code",
    html: { id: "current-submission" },
    code: submission.code,
    language: submission.language } %>

  <div class="comments span6">
    <% if submission.nits.empty? %>
      <h2>Provide Feedback</h2>
    <% else %>
      <h2>Nitpicks</h2>
    <% end %>
    <% submission.nits.each do |nit| %>
    <blockquote><%= md(nit.comment) %>
      <p>
        <cite>by
          <%= gravatar_tag nit.user.avatar_url, size: 20 %>
          <em><%= nit.user.username %></em>, <%= ago(nit.at) %>
        </cite>
      </p>
    </blockquote>

      <% unless nit.comments.empty? %>
        <ul>
        <% nit.comments.each do |comment| %>
          <li>
            <%= gravatar_tag comment.user.avatar_url, size: 20 %>
            <%= md(comment.body) %>
            &mdash; <em><%= comment.user.username %></em>, <%= ago(comment.at) %>
          </li>
        <% end %>
        </ul>
      <% end %>

      <form accept-charset="UTF-8" action="/submissions/<%= submission.id %>/nits/<%= nit.id %>/argue" method="POST">
        <textarea name="comment" class="span6" rows="3"></textarea>
        <button type="submit" class="btn">Discuss Nit</button>
      </form>

    <% end %>
    <form accept-charset="UTF-8" action="/submissions/<%= submission.id %>/respond" method="POST">
      <textarea name="comment" class="span6" rows="10"></textarea>
      <% if current_user.admin? %>
        <button type="submit" name="approve" class="btn">Approve</button>
        <button type="submit" name="approve" class="btn">Comment &amp; Approve</button>
      <% end %>
      <button type="submit" name="nitpick" class="btn btn-primary">Nitpick</button>
    </form>
  </div>
</div>
