<p>Read about <a href="/cycle">the feedback cycle</a>.</p>

<% if current_user.nitpicker? %>
  <p>Read about <a href="/nitpick">how to nitpick</a></p>
<% end %>

<% if submissions.any? %>
  <h2>Needs Nitpicking</h2>
  <div class="pending-submissions">

    <%= erb :filter_pending, locals: { label: 'User', options: filters.users } %>
    <%= erb :filter_pending, locals: { label: 'Exercise', options: filters.exercises } %>
    <span class="hidden"><%= erb :filter_pending, locals: { label: 'Language', options: filters.languages } %></span>

    <label class="checkbox">
      <input type="checkbox" data-action="set-filter" data-filter="nits" data-selected="All" />
      I only want to see submissions without nits
    </label>

    <label class="checkbox">
      <input type="checkbox" data-action="set-filter" data-filter="arguments" data-selected="All" />
      I only want to see submissions without discussion threads 
    </label>

    <hr/>
    <% submissions.flagged_for_approval.each do |submission| %>
      <%= erb :pending_submission, locals: { submission: submission } %>
    <% end %>

    <% submissions.never_been_nitted.each do |submission| %>
      <%= erb :pending_submission, locals: { submission: submission } %>
    <% end %>

    <% submissions.nits_before_but_not_on_this_iteration.each do |submission| %>
      <%= erb :pending_submission, locals: { submission: submission } %>
    <% end %>

    <% submissions.with_nits.each do |submission| %>
      <%= erb :pending_submission, locals: { submission: submission } %>
    <% end %>

  </div>
<% end %>
