<div class="pending-submission span8"
  data-user="<%= submission.user.username %>"
  data-exercise="<%= submission.slug %>"
  data-language="<%= submission.language %>"
  data-nits="<%= submission.nits_by_others_count %>"
  data-versions="<%= submission.version %>"
  <% if submission.wants_opinions? %>
    data-opinions="1"
  <% else %>
    data-opinions="0"
  <% end %>
  data-url="/submissions/<%= submission.id %>">

  <h3 class="span8">
    <a href="/submissions/<%= submission.id %>"><%= submission.slug %></a>
  </h3>

  <div class="user span4">
    <h3>
      <small>
        <div class="avatar">
        <%= gravatar_tag submission.user.avatar_url, size: 30 %>
        </div>
      <%= submission.user.username %>
      submitted this exercise <%= ago(submission.created_at) %>
      </small>
    </h3>
  </div>

  <div class="nits circle span1">
    <%= submission.nits_by_others_count %>
  </div>

  <div class="versions circle span1">
    <%= submission.version %>
  </div>

  <% if submission.wants_opinions? %>
    <div class="opinions circle span1">
      <i class="icon-bullhorn"></i>
    </div>
  <% end %>

  <% if submission.liked? %>
    <div class="circle span1">
      <i class="icon-ok"></i>
    </div>
  <% end %>
</div>
