<% unless pending.empty? %>
  <h2>Needs Nitpicking</h2>
  <ul>
    <% pending.each do |submission| %>
      <li>
        <a href="/submissions/<%= submission.id %>"><%= submission.language %>
          <%= submission.slug %>
        </a>
        (<%= submission.nits.count %>)
        by <%= submission.user.username %>
        <%= ago(submission.at) %>
      </li>
    <% end %>
  </ul>
<% end %>
