<div class="pending-submission span11"
  data-language="<%= submission.language %>"
  data-nits="<%= submission.nits.count %>"
  data-arguments="<%= submission.argument_count %>"
  data-url="/submissions/<%= submission.id %>">

  <h3 class="span11">
    <a href="/submissions/<%= submission.id %>"><%= submission.slug %></a>
  </h3>

  <div class="user span7">
    <h3>
      <small>
      <%= gravatar_tag submission.user.email, :size => 30 %>
      &nbsp;
      <%= submission.user.username %>
      completed this exercise <%= ago(submission.at) %>
      </small>
    </h3>
  </div>

  <div class="language circle span1 <%= submission.language %>">
    &nbsp;
  </div>

  <div class="nits circle span1">
    <%= submission.nits.count %>
  </div>

  <div class="arguments circle span1">
    <%= submission.argument_count %>
  </div>

</div>