<h1><%= submission.language %>: <%= submission.slug %></h1>

<div class="row">
  <div class="span6">
    <h2>Code</h2>
    <%= md(submission.code, submission.language) %>
    <% if submission.approved? %>
      <h2>Example</h2>
      <%= md(Exercism.current_curriculum.in(submission.language).assign(submission.slug).example, submission.language) %>
    <% end %>
  </div>

  <div class="span6">
    <% if submission.approved? %>
      <p><%= gravatar_tag submission.approver.avatar_url %> Approved by <%= submission.approver.username %> <%= ago(submission.approved_at) %></p>
    <% end %>

    <% unless submission.nits.empty? %>
      <h2>Nits</h2>
    <% end %>
    <% submission.nits.each do |nit| %>
      <blockquote>
        <%= nit.comment %>
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <cite><em><%= nit.user.username %></em></cite>
      </blockquote>

      <% unless nit.comments.empty? %>
        <ul>
        <% nit.comments.each do |comment| %>
          <li>
            <%= gravatar_tag comment.user.avatar_url %>
            <%= comment.body %>
            &mdash; <em><%= comment.user.username %></em>, <%= ago(comment.at) %>
          </li>
        <% end %>
        </ul>
      <% end %>


      <form accept-charset="UTF-8" action="/submissions/<%= submission.id %>/nits/<%= nit.id %>/argue" method="POST">
        <textarea name="comment" class="span6" rows="3"></textarea>
        <button type="submit" class="btn">Discuss Nit</button>
      </form>


    <% end %>
  </div>
</div>

