<div class="row">
  <div class="span11">
    <% if submission.hibernating? %>
      <div class="alert alert-notice alert--fixed-width">
        <a class="close" href="#" data-dismiss="alert">×</a>
        This submission has gone into hibernation because there has not been any activity on it for over a week.
        <% if current_user.owns?(submission) %>
        To take the submission back out of hibernation either respond to the nitpicks, or submit a new version.
        <% end %>
      </div>
    <% end %>

    <%= erb :byline, locals: {exercise: submission.exercise, user: submission.user} %>
    <p>Submitted <%= ago(submission.at) %>.</p>
    <p><%= view_count_for(submission) %>.</p>
    <p>
      Iteration <b><%= submission.version %></b> of <b><%= submission.versions_count %></b>.
      <% if submission.user.completed?(submission.exercise) %>
        This exercise has been completed.
      <% else %>
        This exercise is still in progress.
      <% end %>
    </p>
    <p> View iteration:
      <% submission.related_submissions.each do |related| %>
        <% if related == submission %>
          <span style="padding: 10px;"><%= related.version %></span>
        <% else %>
          <a class="btn btn-default" href="/submissions/<%= related.id %>"> <%= related.version %></a>
        <% end %>
      <% end %>

    </p>
    <p>&laquo; <a href="/<%= [submission.user.username, submission.language, submission.slug].join('/') %>">Submission history</a></p>
  </div>
</div>

<div class="row">

  <div id="current_submission" class="code span6">
    <h2>Code</h2>

    <% if submission.liked? %>
      <p><%= these_people_like_it(submission.liked_by) %></p>
    <% end %>

    <div class"btn-group">
      <%= like_submission_button(submission, current_user) %>

      <a class="btn" data-action="enlarge">
        <i class="icon-resize-full"></i>
      </a>

      <a style="display: none;" class="btn" data-action="shrink">
        <i class="icon-resize-small"></i>
      </a>
      <br />

    </div>
    <div style="padding-top: 2px;">
      <%= md(submission.code, submission.language) %>
    </div>
  </div>

  <div class="comments span6">

    <% if submission.comments.empty? %>
      <% if current_user.is?(submission.user.username) %>
        <h2>Initial Thoughts
      <% else %>
        <h2>Provide Feedback
      <% end %>
    <% else %>
      <h2>Nitpicks
    <% end %>
      <% if can_mute?(submission, current_user) %>
        <form accept-charset="UTF-8" action="<%= mute_button_action_for(submission, current_user) %>" method="POST" style="display: inline; float: right;">
          <% if submission.muted_by?(current_user) %>
          <button type="submit" class="btn unmute-btn"><i class="icon-microphone"></i>unmute</button>
          <% else %>
          <button type="submit" class="btn mute-btn"><i class="icon-microphone-off"></i>mute</button>
          <% end %>
        </form>
      <% end %>
    </h2>


    <% if submission.comments.empty? && current_user.is?(submission.user.username) %>
      <p>Feel free to expound on trade-offs or choices or thoughts about your code.</p>
    <% end %>

    <% submission.comments.each do |nit| %>
      <%= erb :"nitpick/nit", locals: {nit: nit, submission: submission} %>
    <% end %>

    <% if current_user.owns?(submission) && !current_user.completed?(submission.exercise) && submission.discussion_involves_user? %>
      <%= erb :"nitpick/more_opinions", locals: {submission: submission} %>
    <% end %>

    <hr>
    <%= erb :"nitpick/submit_comment", locals: {submission: submission} %>

    <% if current_user.owns?(submission) && !current_user.completed?(submission.exercise) %>
      <form accept-charset="UTF-8" action="/submissions/<%= submission.id %>/done" method="POST">
        <button type="submit" name="done" class="btn">OK, I'm done. Unlock the next exercise.</button>
      </form>
    <% end %>

  </div>
</div>
