<h1>Submissions for <%= language %>/<%= assignment %></h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Submitted At</th>
      <th>Nitpicks</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <% submissions.each do |submission| %>
    <tr>
      <td>
        <%= gravatar_tag submission.user.avatar_url, size: 20 %>
        <a href="/submissions/<%= submission.id %>"><%= submission.user.username %></a>
      </td>
      <td><%= submission.created_at %></td>
      <td><%= submission.comments.length %></td>
      <td><%= submission.state %></td>
    </tr>
  <% end %>
  </tbody>
</table>
