<h1><%= exercise.language %>: <%= exercise.slug %></h1>

<% if after.approved? %>
  <p><strong>Approved</strong> by <%= gravatar_tag after.approver.avatar_url %> <%= after.approver.username %> <%= ago(after.approved_at) %></p>
<% else %>
  <p>This exercise is still in progress.</p>
<% end %>

<div id="code-timeline" class="pagination pagination-large pagination-centered">
  <ul>
    <li><a data-revision="start" class="selected">Start</a></li>
    <li><a data-revision="1">Rev 1</a></li>
    <li><a data-revision="2">Rev 2</a></li>
    <li><a data-revision="3">Rev 3</a></li>
    <li><a data-revision="approved" class="selected">Approved</a></li>
    <% if after.approved? %>
      <li><a data-revision="example">Example</a></li>
    <% end %>
  </ul>
</div>

<div class="row">

  <%= erb :code, locals: { title: "Start",
    html: { id: "revision-start" },
    submission: before } %>

  <% iterations.each_with_index do |iteration,index| %>

    <%= erb :code, locals: { title: "Revision #{index + 1}",
      html: { id: "revision-#{index + 1}", style: "display: none;" },
      submission: iteration } %>

  <% end %>

  <%= erb :code, locals: { title: "Approved",
    html: { id: "revision-approved" },
    submission: after } %>

  <% if after.approved? %>
    <%= erb :simple_code, locals: { title: "Example",
      html: { id: "revision-example", style: "display: none;" },
      code: Exercism.current_curriculum.in(after.language).assign(after.slug).example,
      language: after.language } %>
  <% end %>
</div>

