<%= erb :byline, locals: {exercise: exercise, user: user} %>

<% if iterations.empty? %>
  <% if current_user.is?(user.username) %>
    <p>You have not submitted anything on this assignment yet.</p>
  <% else %>
    <p><%= user.username %> has not submitted anything on this assignment yet.</p>
  <% end %>
<% else %>

  <% if after.done? %>
    <p>This exercise has been thoroughly bikeshedded and <b><%= user.username %></b> has moved on.</p>
  <% else %>
    <p>This exercise is still in progress.</p>
  <% end %>

  <div id="code-timeline" class="pagination pagination-centered">
    <ul>
      <% iterations.each_with_index do |iteration,index| %>
        <li><a data-revision="<%= index + 1 %>">Rev <%= index + 1 %></a></li>
      <% end %>
      <% if after.done? %>
        <li><a data-revision="example">Example</a></li>
      <% end %>
    </ul>
  </div>

  <div class="row">

    <%= erb :"code/submission", locals: { title: "Start",
        html: { id: "revision-start" },
        submission: before } %>

    <% iterations.each_with_index do |iteration,index| %>

      <%= erb :"code/submission", locals: { title: "Revision #{index + 1}",
          html: { id: "revision-#{index + 1}", style: "display: none;" },
          submission: iteration } %>

    <% end %>

    <%= erb :"code/submission", locals: { title: after.done? ? "Final" : "Latest",
        html: { id: "revision-latest" },
        submission: after } %>

    <% if after.done? %>

      <%= erb :"code/simple", locals: { title: "Example",
        html: { id: "revision-example", style: "display: none;" },
        code: Exercism.current_curriculum.in(after.language).assign(after.slug).example,
        language: after.language } %>
    <% end %>
  </div>
<% end %>
