<div class="row">
  <div class="span8">
    <h1><%= user.username %></h1>
    <p>GitHub Profile: <%= github_profile_link(user) %></p>

    <h3>Exercises</h3>

    <h4>Current</h4>
    <% if current.none? %>
      <p><%= user.username %> has not submitted any exercises lately.</p>
    <% else %>
    <% end %>

    <ul>
      <% current.each do |exercise| %>
        <li>
          <% if current_user.is?(user.username) || current_user.nitpicker_on?(exercise) %>
            <a href="<%= ['', 'submissions', user.latest_submission_on(exercise).key].join('/') %>"><%= exercise.language.titleize %>: <%= exercise.name %></a>
          <% else %>
            <%= exercise.language.titleize %>: <%= exercise.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h4>Completed</h4>
    <% if completed.none? %>
    <p><%= user.username %> has not completed any exercises.</p>
    <% end %>
  </div>
</div>

<div class="row">
  <% completed.each do |language, exercises| %>
  <div class="span2">
    <h5><%= language.titleize %></h5>
    <ul>
      <% exercises.each do |exercise| %>
      <li>
      <% if current_user.is?(user.username) || current_user.nitpicker_on?(exercise) %>
      <a href="<%= ['', 'submissions', user.latest_submission_on(exercise).key].join('/') %>"><%= exercise.name %></a>
      <br>
      <a href="<%= ['', 'completed', exercise.language, exercise.slug, 'random'].join('/') %>">gallery &raquo;</a>
      <% else %>
      <%= exercise.name %>
      <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>
