<div class="row">
  <div class="span8">
    <h1><%= user.username %></h1>
    <p>GitHub Profile: <%= github_profile_link(user) %></p>

    <% if current_user.is?(user.username) %>
      <% if user.teams.any? %>
        <p>You are on the following teams:</p>
        <ul>
          <% user.teams.each do |team| %>
            <li><a href="/teams/<%= team.slug %>"><%= team.slug %></a></li>
          <% end %>
        </ul>
      <% end %>
      <p>You've left <%= user.comments.count %> nits.</p>
    <% end %>

    <h3>Exercises</h3>
    <h4>Current</h4>
    <% if current.none? %>
      <p>You have not submitted any exercises lately.</p>
    <% end %>
    <ul>
      <% current.each do |exercise| %>
        <li>
          <% if current_user.is?(user.username) || current_user.nitpicker_on?(exercise) %>
            <a href="<%= ['', user.username, exercise.language, exercise.slug].join('/') %>"><%= exercise.language.titleize %>: <%= exercise.name %></a>
          <% else %>
            <%= exercise.language.titleize %>: <%= exercise.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="span4">
    <% if current_user.is?(user.username) %>
      <dl>
        <dt>Api key:</dt>
        <dd><%= current_user.key %></dd>
      </dl>

    <p>You can update your <%= gravatar_tag current_user.avatar_url %> Gravatar on
      <a href="http://www.gravatar.com/">the Gravatar website.</a></p>

    <p>
      The following email address will be used to send you notifications. If you do not want notifications, delete your email address and click update.
      <form action="/account/email" method="post">
        <input type="hidden" name="_method" value="put" />
        <div class="input-append">
          <input type="email" id="email" name="email" placeholder="Email" value="<%= current_user.email %>" />
          <input type="submit" name="update" value="Update" class="btn" />
        </div>
      </form>
    </p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h4>Completed</h4>
    <% if completed.none? %>
      <p>You have not completed any exercises.</p>
    <% end %>
  </div>
</div>
<div class="row">
  <% completed.each do |language, exercises| %>
  <div class="span2">
    <h5><%= language.titleize %></h5>
    <ul>
      <% exercises.each do |exercise| %>
      <li>
      <% if current_user.is?(user.username) || current_user.nitpicker_on?(exercise) %>
      <a href="<%= ['', user.username, exercise.language, exercise.slug].join('/') %>"><%= exercise.name %></a>
      <br>
      <a href="<%= ['', 'completed', exercise.language, exercise.slug].join('/') %>">gallery &raquo;</a>
      <% else %>
      <%= exercise.name %>
      <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>
