<div class="work"
  data-language="<%= work.language %>"
  <% if work.submitted? %>
    data-nits="<%= work.nits_by_others_count %>"
    data-versions="<%= work.versions_count %>"
  <% end %>>
  <%= language_icon(work.language) %>
  <% if work.submitted? %>
    <a href="/submissions/<%= work.id %>">
      <h4 style="display: inline"><%= work.slug %></h4></a>
    <div class="nits circle"><%= work.nits_by_others_count %></div>
    <div class="versions circle"><%= work.versions_count %></div>

    <% if work.wants_opinions? %>
      <div class="opinions circle">
        <i class="icon-bullhorn"></i>
      </div>
    <% end %>
    <% if work.liked? %>
      <div class="circle">
        <i class="icon-ok"></i>
      </div>
    <% end %>
  <% elsif work.slug == 'congratulations' %>
    <span class="label label-info">No more Assignments</span>
  <% else %>
    <span class="work-slug">
      <h4 style="display: inline"><%= work.slug %></h4>
      <span class="label label-info">Not Started</span>
    </span>
  <% end %>
</div>
