#menu-tree
  %ul.nav.nav-list.borders

    %li.list-menu
      %label.tree-toggler.nav-header
        Teams
        %span.count= nav.team_count
      %ul.nav.nav-list.tree.collapse.regular
        - nav.teams.each do |team|
          %li
            %a{:href => "#"}= team.name
        %li
          %a.highlight.toggle-add-team{:href => "javascript:;"} + Add Team
          %form.form.form-add-team.clearfix.hide-elem{:name => "add-team"}
            %input{:name => "team[name]", :type => "text", :placeholder => "Team Name"}/
            %textarea{:name => "team[members]", :placeholder => "username1, username2"}
            %input.btn.btn-link.btn-submit{:type => "submit", :value => "Add Team"}/

    %li.list-menu
      %label.tree-toggler.nav-header
        Exercises
        %span.count= nav.exercise_count
      %ul.nav.nav-list.tree.collapse.regular
        - nav.exercises.each do |exercise|
          %li{class: exercise.read? ? 'read' : 'unread'}
            %a{:href => link_to(exercise.path)}
              %span.cat= exercise.slug
              %span.topic{:class => exercise.language}= exercise.language

    %li.list-menu
      %label.tree-toggler.nav-header
        Activity
        %span.count= nav.conversation_count

      %ul.nav.nav-list.tree.collapse.detailed
        %a{href: link_to('/notifications/read?_method=delete')} Delete all read notifications

        - nav.conversations.each do |conversation|
          %li{class: conversation.read? ? 'read' : 'unread'}
            %a{:href => link_to(conversation.path)}
              .menu-icon{class: "sprite-icon-#{conversation.icon}"}
              .info
                %p.cat
                  = conversation.slug
                  %span.topic{:class => conversation.language}= conversation.language
                %p.name= conversation.submitter
                %p.fineprint
                  = conversation.activity
                  = ago(conversation.at)
