<% if nit.nitpicker == submission.user %>
  <blockquote class="submitter">
<% else %>
  <blockquote>
<% end %>
  <%= nit.html_comment %>
  <cite>
    <%= gravatar_tag nit.user.avatar_url, size: 20 %>
    <em><%= profile_link(nit.user) %></em>, <%= ago(nit.created_at) %>
  </cite>
  <% unless nit.mentions.empty? %>
    <aside>
      Mentions:
      <% nit.mentions.each do |mention| %>
	<em><%= profile_link(mention) %></em>
      <% end %>
    </aside>
  <% end %>

  <% if current_user == nit.nitpicker %>
    <a href="/submissions/<%= submission.id %>/nits/<%= nit.id %>/edit">
      <button class="btn btn-small edit-text">
        <span aria-hidden="true" data-icon="✎"></span>
        <span class="screen-reader-text">Edit</span>
      </button>
    </a>
  <% end %>
</blockquote>
