<div class="pending-submission"
  data-user="<%= submission.user.username %>"
  data-exercise="<%= submission.slug %>"
  data-language="<%= submission.track_id %>"
  data-nits="<%= submission.nit_count %>"
  data-versions="<%= submission.version %>"
  data-url="/submissions/<%= submission.key %>">

  <h3>
    <a href="/submissions/<%= submission.key %>"><%= submission.slug %></a>
  </h3>

  <div class="user col-md-7">
    <div class="avatar pull-left">
      <%= gravatar_tag submission.user.avatar_url, size: 30 %>
    </div>
    <div class="h5 muted">
      <%= submission.user.username %>
      submitted this exercise <%= ago(submission.created_at) %>
    </div>
  </div>

  <div class="nits col-md-1">
    <span class="circle"><%= submission.nit_count %></span>
  </div>

  <div class="versions col-md-1">
    <span class="circle"><%= submission.version %></span>
  </div>

  <% if submission.liked? %>
    <div class="col-md-1">
      <i class="fa fa-ok"></i>
    </div>
  <% end %>
</div>