<div class="pending-submission col-md-8"
  data-user="<%= submission.user.username %>"
  data-exercise="<%= submission.slug %>"
  data-language="<%= submission.track_id %>"
  data-nits="<%= submission.nit_count %>"
  data-versions="<%= submission.version %>"
  data-url="/submissions/<%= submission.key %>">

  <h3 class="col-md-8">
    <a href="/submissions/<%= submission.key %>"><%= submission.slug %></a>
  </h3>

  <div class="user col-md-4">
    <h3>
      <small>
        <div class="avatar">
        <%= gravatar_tag submission.user.avatar_url, size: 30 %>
        </div>
      <%= submission.user.username %>
      submitted this exercise <%= ago(submission.created_at) %>
      </small>
    </h3>
  </div>

  <div class="nits circle col-md-1">
    <%= submission.nit_count %>
  </div>

  <div class="versions circle col-md-1">
    <%= submission.version %>
  </div>

  <% if submission.liked? %>
    <div class="circle col-md-1">
      <i class="icon-ok"></i>
    </div>
  <% end %>
</div>
