<% if submission.user.completed?(submission.exercise) %>

  <form accept-charset="UTF-8" action="/submissions/<%= submission.id %>/respond" method="POST">
    <%= erb :small_comment %>
    <button type="submit" name="nitpick" class="btn btn-primary">Comment</button>
  </form>

<% else %>

  <% if current_user.owns?(submission) %>

    <p><a href="http://exercism.io/nitpick" target="_blank">Comments</a> are parsed with <a href="https://help.github.com/articles/github-flavored-markdown" target="_blank">GitHub Flavoured Markdown</a></p>
    <%= erb :"nitpick/encourage_submitter", locals: {version: submission.version, nit_count: submission.nits_by_others_count} %>

  <% else %>

    <p><a href="http://exercism.io/nitpick" target="_blank">Nitpicks</a> are parsed with <a href="https://help.github.com/articles/github-flavored-markdown" target="_blank">GitHub Flavoured Markdown</a></p>
    <%= erb :"nitpick/encourage_nitpicker", locals: {language: submission.language} %>

  <% end %>

  <form accept-charset="UTF-8" action="/submissions/<%= submission.id %>/respond" method="POST">
    <%= erb :comment %>
    <% if current_user.owns?(submission) %>
      <button type="submit" name="nitpick" class="pull-right btn btn-primary">Discuss</button>
    <% else %>
      <button type="submit" name="nitpick" class="pull-right btn btn-primary">Nitpick</button>
    <% end %>

    <% if current_user.nitpicker_on?(submission.exercise) && !current_user.owns?(submission) %>
      <button type="submit" name="like" class="btn" <%= 'disabled' if submission.liked_by.include?(current_user.username)%>>Looks great!</button>
    <% end %>

    <% if submission.liked? %>
      <p><%= n_people_like_it(submission.liked_by.count) %></p>
    <% end %>
  </form>

  <% if current_user.is?(submission.user.username) %>
    <p>Read about <a href="/cycle">the feedback cycle</a>.</p>
  <% end %>

<% end %>
