<!DOCTYPE html>
<html lang='en' ng-app='exercism'>
  <head>
    <meta charset='utf-8'>
    <title><%= title %></title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='Practice having thoughtful conversations about code.' name='description'>
    <meta content='Exercism.io' name='author'>
    <!-- Open Graph protocol http://ogp.me/ -->
    <meta property='og:site_name'   content='Exercism.io'/>
    <meta property='og:type'     content='website'/>
    <meta property='og:image'   content='http://exercism.io/icons/exercism_og.png'/>
    <meta property='og:title'   content='Exercism.io: Crowd-sourced code mentorship.'/>
    <meta property='og:description' content='Practice having thoughtful conversations about code.'/>
    <!-- Twitter Summary -->
    <meta name='twitter:card' content='summary'>
    <meta name='twitter:site' content='@exercism_io'>
    <meta name='twitter:title' content='Exercism.io: Crowd-sourced code mentorship'>
    <meta name='twitter:description' content='Practice having thoughtful conversations about code.'>
    <meta name='twitter:image' content='http://exercism.io/icons/exercism_twitter.png'>
    <!-- Icons -->
    <link href='/icons/favicon.ico?v=4' rel='shortcut icon'>
    <link href='/icons/apple-touch-icon.png' rel='apple-touch-icon'>
    <link href='<%= css_url %>' rel='stylesheet'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
	    setTimeout(function(){var a=document.createElement("script");
			    var b=document.getElementsByTagName("script")[0];
			    a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0044/0216.js?"+Math.floor(new Date().getTime()/3600000);
			    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
	    </script>
  </head>
  <body>
    <%= erb :"application/_navbar" %>
    <%= erb :"application/_flash_messages" %>
    <main role="main">
      <%= yield %>
    </main>
    <%= erb :"application/_footer" %>
  </body>
</html>
