<div class="container">
  <section class="page-header">
    <h1>
      <%= problem['name'] %> in <%= problem['language'] %>
    </h1>
    <h4>
      <%= problem['blurb']%>
    </h4>
  </section>
  <section>
    <p>
      <%= syntax "exercism fetch #{problem['track_id']} #{problem['slug']}", "plain" %>
    </p>
  </section>
  <nav role="navigation">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="readme">Readme</a>
      </li>
      <li role="presentation">
        <a href="tests"> Test Suite</a>
      </li>
    </ul>
  </nav>
  <%= md(problem['readme']) %>
</div>
