<div class="container">
  <div class="row">
    <br>
    <aside class="col-md-4">
      <nav class="stats">
        <ul class="nav nav-stacked nav-bordered">
          <% tracks.each do |t|%>
          <li class="<%= 'active' if t.id==track.id%>">
            <a href="/stats/<%= t.id %>">
              <%= t.language %>
              <span class="total-count">
                <%= t.problems.size %>
              </span>
            </a>
          </li>
          <% end %>
        </ul>
      </nav>
      <br>
    </aside>

    <main id="track-activity" class="col-md-8">
      <h2><%= track.language %> Activity</h1>

      <ul class="graph-legend">
        <li>
          <i class="fa fa-square iterations"></i>
          Iterations
        </li>
        <li>
          <i class="fa fa-square reviews"></i>
          Reviews
        </li>
      </ul>

      <% datasets.each do |dataset| %>
        <h3><%= dataset.month %></h3>
        <canvas class="track-activity-chart" data-stats='<%= dataset.to_chart %>' width="800" height="400"></canvas>
      <% end %>
    </main>
  </div>
</div>
